[2017-11-28 22:21] jharpster opened #13 "Docker Sandbox 404's"
The [link](https://github.com/osmlab/atlas-checks/blob/dev/docs/sandbox.md) to the Docker Sandbox 404's.

[2017-12-11 21:00] matthieun commented on #13
Hi @jharpster. Can you double check the link? It can't be found by Github on my end.

[2017-12-11 21:02] matthieun commented on #13
Oh it all makes sense here! The sandbox.md link in the doc is empty.

[2017-12-11 21:03] jharpster commented on #13
It's definitely a 404 for me.

![image](https://user-images.githubusercontent.com/224853/33853676-9bae78c0-de73-11e7-8a10-ab837313c2f7.png)

[2017-12-11 21:04] matthieun commented on #13
Yep. The link in the doc is what is missing. Had not realized from the title, sorry! We will get that sorted out.

[2017-12-11 21:37] mgcuthbert commented on #13
I will clean up that documentation, this is errant documentation as there was never any docker sandbox developed and as such that section of the documentation should never have been included.

[2017-12-12 16:38] mgcuthbert commented on #13
https://github.com/osmlab/atlas-checks/pull/17

[2017-12-12 23:56] mgcuthbert commented on #13
I am closing this issue, as the documentation was updated in the PR above.

[2017-12-12 23:56] #13 closed

[2018-06-05 02:34] maning opened #50 "Task run failure"
Running from dev branch and gadle4.7. I get the following:

[code]

[2018-06-21 20:43] MikeGost commented on #50
The issue is an OutOfMemory exception when constructing the Atlas file from PBF format. Try one of the following:

1. The PBF file you're using is too big - the `OsmPbfProcessor` is not optimized to work on non-sharded PBF files as there are a lot of temporary in-memory objects created when going from PBF to atlas. Try trimming down the the PBF file size (osmosis is a tool that you can do this wit

[2018-06-22 07:21] maning commented on #50
@MikeGost Thanks! Running on the smallest PBF from Geofabrik (Wash DC), I get geojson.

I increased my java resources to use 4 GB, took 10 minutes.  Then I get the following errors related to spark.  Not sure what I'm doing here.  For now all I need is to generate the geojson.  Would the succeeding spark errors affect the output?

<details>

[code]

</details>

[2018-06-22 07:30] MikeGost commented on #50
@maning - Nice, it looks like the atlas was generated successfully and the checks were run! Were you able to find the geojson output at this location:

`/Users/maning/projects/git/atlas-checks/build/geojson/UNK`?

I'm not quite sure what went wrong here - don't see the actual issue. It may be worth trying to re-run with the --debug option to get the full stack-trace as the "Try" block suggests fro

[2018-06-22 08:42] maning commented on #50
Yes!

[See this gist](https://gist.github.com/maning/ccf27681601e76d8ece9e1f93af4d2b5) (I reached the max limit for comment :))

[2018-06-22 18:53] MikeGost commented on #50
Great - it sounds like you're unblocked for now @maning. I went ahead and created an atlas issue, which should address your scenario: https://github.com/osmlab/atlas/issues/147. Please feel free to update it with context as needed.

I looked through the logs you linked and wasn't able to find the source of the error. It's possible that this is a benign issue or a gradle configuration that can be p

[2018-06-27 09:32] maning commented on #50
Closing as the original problem is resolved.

[2018-06-27 09:32] #50 closed

[2018-07-25 14:59] michaelsteffen opened #61 "Documentation request - running on a Spark cluster"
Hi friends - Might someone have the bandwidth to fill out https://github.com/osmlab/atlas-checks/blob/dev/docs/cluster.md at some point? It would be a nice entry point to this project and to Atlas generally.

[2018-07-31 04:37] yiqingj commented on #61
@michaelsteffen I'll give it a try in next few days.  working with a spark cluster could be tricky by itself but I'll see how far I can go to have a step by step instruction.

[2018-10-12 22:19] Bentleysb opened #77 "Layer Tag Method Change Breaking Checks"
A jump in false positive flags for both UnusualLayerTagsCheck and EdgeCrossingEdgeCheck has been traced back to a change in the LayerTag method that is used in both.
In https://github.com/osmlab/atlas-checks/pull/62 both checks were altered to use the `getTaggedValue` method in place of the `getTaggedOrImpliedValue`method that was breaking the checks due to a return type alteration. Unfortunately,

[2018-10-19 17:27] Bentleysb opened #81 "Concurrent Modification Exception"
Atlas checks is throwing a `ConcurrentModificationException` based around the `EventService` class. This is a run time exception that is breaking execution of the program

[code]

This appears to be caused by the updates in https://github.com/osmlab/atlas-checks/pull/74. Line 65 iterating through `processors` and removing from `processors` by calling `unregister()`.

[2018-10-22 16:34] Bentleysb commented on #81
This is all good now. Thanks @jklamer!

[2018-10-22 16:34] #81 closed

[2018-10-24 21:24] Bentleysb opened #87 "CheckFlagEvent HighwayTag Bug"
`CheckFlagEvent.featureDecorator()` throughs an `IllegalArgumentException` when flag objects have a highway tag value that is not in Atlas's HighwayTag Enum set. Normally this would not occur because highway tags are filtered out in atlas creation by the edge.json filter. However, when non-edges are flagged and have highway tags this can occur.

[2018-10-24 23:03] nachtm opened #89 "Atlas TaggableFilter update causing "object not serializable" error"
It looks like the newest version of Atlas has a lambda function that is not serializable, which is causing a `NotSerializableException`. More specifically, when I run the project, I'm getting this error:
`Exception during serialization: java.io.NotSerializableException: org.openstreetmap.atlas.tags.filters.LineFilterConverter$$Lambda$67/1932303196`.

It looks like it's fixed by [this PR](https://g

[2018-10-25 15:43] matthieun commented on #89
@nachtm Atlas 5.2.1 is out with the fix, will be in Maven Central soon!

[2018-10-26 16:05] nachtm commented on #89
Thanks @matthieun! I can confirm that this is working for me now, thanks to #90.

[2018-10-26 16:05] #89 closed

[2018-11-02 18:19] #87 closed

[2018-12-12 20:55] danielduhh commented on #77
@Bentleysb Is this still an issue ?

[2018-12-12 21:08] Bentleysb commented on #77
Nope, closing.

[2018-12-12 21:08] #77 closed

[2019-06-02 11:50] TahmasbiOSM opened #164 "Task :runChecks FAILED"
I tried to use atlas check on windows 7, debian, ubuntu... but no luck
I don't know if I'm doing something wrong or not
I installed jdk:
[code]
and gradle:
[code]

everything is by default even configuration.json

at first I ran this command (cmd as administrator): `c:\Users\admin\atlas-checks>gradle run`
then I used this: `c:\Users\admin\atlas-checks>gradlew run`

at it failed to check
I attach o

[2019-06-05 05:35] yiqingj commented on #164
looks like a dependency conflict introduced by dependency version upgrade.  Will take a look tomorrow.

[2019-06-05 17:29] yiqingj commented on #164
also, before this issue gets solved, please try use 5.0.6 for your work.

[2019-06-06 01:16] jklamer commented on #164
https://github.com/osmlab/atlas-checks/pull/165 should help with this! Will circle back to ask for verification when integrated.

[2019-06-06 07:22] TahmasbiOSM commented on #164
thanks
I edited build.gradle and it appears the dependency issues are resolved but I faced another "runChecks FAILED"

here is the stacktrace file, please check it out
[trace.txt](https://github.com/osmlab/atlas-checks/files/3260389/trace.txt)

[2019-06-06 17:37] yiqingj commented on #164
@TahmasbiOSM

```Caused by: java.lang.IllegalArgumentException: Wrong FS: file://C:\Users\admin\atlas-checks\build/example/data/output, expected: file:///```

not very familiar with windows path but please try add one more `/` to the path see if it works.

[2019-06-08 08:46] TahmasbiOSM commented on #164
I tried file:/// but it didn't work either so I decided to run atlas-check on linux again and it works :)
one more this
I ran atlas-check on linux with 2G RAM and it failed with an error (I think it was "Java heap size") so i increased it to 5G and it worked, obviously it's related to the size of obf files,the bigger obfs are, the more Ram they needed
 it would be great if we test and calculate ho

[2019-06-08 17:29] TahmasbiOSM commented on #164
I dont know if i should open another issue or ask it here
when i tried to upload the geojson file to maproulette.org, this happens:
![sdfgsdfg](https://user-images.githubusercontent.com/51000782/59150409-2d0ae080-8a38-11e9-8a13-3973e31d36ab.JPG)

if I check "Ignore Errors" to yes, it will proceed but i wanna know does this error affect the outcome result?

[2019-06-08 18:02] danielduhh commented on #164
This shouldn’t reflect your results, however, uploading line delimited geojson is preferred. The ‘flags’ ‘outputFormat’ creates line delimited .log files and saves them in the /flag folder.

[2019-06-09 18:43] TahmasbiOSM opened #166 "Default "JAVA HEAP SIZE" is low"
I tried to run checks on Iran map (116 Mb obf ) which is a lot bigger than the Belize, of course atlas-check needs more ram to handle that
I increased Linux Ram to 6000 MB but after running atlas-check there was an error, “java.lang.OutOfMemoryError: Java heap space”

I checked this command to see how much is the heap size
[code]

I don't know how to increase it, I tried to edit gradlew file
chang

[2019-06-11 17:11] jklamer commented on #164
@TahmasbiOSM I am unfamiliar with the characteristics of Windows file systems, so I think this is a good open issue to keep open until we can verify our file handling works on Windows.

In terms of memory performance, the Atlas is designed this way to be fast to process, however we understand it limits what you can do without a spark cluster. See the response on this issue for a little more on tha

[2019-06-11 17:24] jklamer commented on #166
I think this is a great point, and goes with the automated memory warning you talked about in https://github.com/osmlab/atlas-checks/issues/164. I think the default max should be increased. The only problem is I don't know how much would be appropriate because there will still be some countries what are not possible to run locally, especially if you're forced to run it on a linux VM. In this case

[2019-06-12 18:48] jklamer commented on #166
Working on a more complete fix to this that will enable you more control running locally.

[2019-10-25 23:15] ylinzhi commented on #164
Ran  `./gradlew run` in Terminal on macOS 10.14.6,  and encountered similar problem listed on June 2nd.  Updating with `export SPARK_LOCAL_IP=127.0.0.1` helped resolving it

[2020-05-04 12:49] stefanocudini opened #289 "official docker image"
hi

just exists some official docker image for running in standalone way this tool?
I have only found references to continuous integration config realtive to docker..

[2020-05-05 13:12] lauracasiana opened #290 "InvalidTurnRestrictionCheck - update"
**Description**
Suggestion for adding some extra reasons to flag turn restrictions in the already existing InvalidTurnRestrictionCheck.

**Requirements**
 Check Candidate for the extra steps:
 - Is a `Relation` that has already passed the original check

 Requirements to be flagged:
 - if any of the members that are of Edge type do not have the **highway=*** tag, the object should be flagged.
 - i

[2020-05-05 15:40] brianjor opened #291 "ApproximateWayCheck"
**Description**
This checks for ways that were done crudely, there is a discrepancy between the drawing and the real way especially in the curve. Roads are expected to be smooth and consistent, large changes in directions are suspect of poor drawing. Fixing these visually improves the map.

**Requirements**
 * Is an Edge
 * Has a highway tag that is car navigable
 * Edge has more than one segment

[2020-05-05 15:42] danielduhh commented on #289
Hey @stefanocudini, great idea. Using docker would help eliminate issues building the project with java11.

The Docker image requirements are...
- java 11 (openjdk/adoptjdk)
- gradle (we're at 6.3 now)

Here are some use cases I can see being helpful:
* Given a specified `ATLAS_CHECKS_VERSION` , download the maven shaded JAR and expose as an executable.
[code]
* Bind your local workspace  (via mou

[2020-05-05 16:36] Bentleysb commented on #290
Thanks for the very clear description of your ideas.
The use cases you give are already flagged by InvalidTurnRestricitonCheck. They are caught when trying to build a route through the network graph from the `from` member to the `to` member. However, it may be worth looking into providing better instructions for these cases, as it may be difficult for editors to identify the problem in some cases.

[2020-05-06 11:29] stefanocudini commented on #289
hi @daniel-j-h

you know a similar java project with the same/similar dependencies..

whose exists a docker image to be used as a starting case

[2020-05-10 23:25] stefanocudini opened #293 "[Bug] BUILD FAILED in ubuntu 18"
in ubuntu 18.04 with openjdk 11 obtain this error after follow the instructions

./gradlew run

[code]

[2020-05-11 16:56] danielduhh commented on #289
hey @stefanocudini , please review #294. I've added a Dockerfile using the [jdk11 docker-gradle](https://github.com/keeganwitt/docker-gradle/blob/master/jdk11/Dockerfile) image.

[2020-05-11 17:09] danielduhh commented on #293
Hey @stefanocudini , could you verify that the $JAVA_HOME variable (or default java version) on the server is set to jdk11?

[2020-05-11 17:10] stefanocudini commented on #293
yes I have jdk 11:
[code]

[2020-05-11 17:22] stefanocudini commented on #289
hi @danielduhh
thank you for your support

I can try to clone your fork and try it locally

how can I do a simple test to find out if it works after the build of the docker image?

[2020-05-11 19:50] danielduhh commented on #289
After creating the docker image, you can execute the gradle run command:
[code]
If you want to store the outputs on your host machine:
[code]
@stefanocudini

[2020-05-12 12:19] stefanocudini commented on #289
what contains ```/app/atlas-checks``` data ors atlas-checks source?

[2020-05-12 15:22] danielduhh commented on #289
@stefanocudini `/app/atlas-checks` is the location of the source code directory on the docker container
See: https://github.com/osmlab/atlas-checks/pull/294/files#diff-3254677a7917c6c01f55212f86c57fbfR4

[2020-05-20 11:03] lauracasiana commented on #290
Closing the issue since it is already covered.

[2020-05-20 11:03] #290 closed

[2020-05-21 21:40] danielduhh commented on #293
Okay... looks like you have java 11 installed, but your `$JAVA_HOME` default is set to openjdk8; Can you try changing that to your openjdk11 path?

[2020-05-22 08:15] lauracasiana opened #301 "ConditionalRestrictionTagCheck"
**Description**
The check should assure that conditional restrictions are following the expected format as described in the OSM Wiki page here: https://wiki.openstreetmap.org/wiki/Conditional_restrictions

**Requirements**
- any OSM primitive that has a tag containing **":conditional"** is a candidate for this check

**Use Cases**
The conditional restriction can have one of the following formats

[2020-05-22 16:13] sayas01 commented on #290
All the use cases mentioned are taken care in the existing InvalidTurnRestrictionCheck. Having clear instructions for various cases would be a good improvement to the check. InvalidTurnRestrictionCheck is being revisited to add clear instructions.

[2020-05-28 22:07] vladlemberg opened #302 "[Bug] Incorrect behavior of isPartOfClosedWay method in OverlappingEdgeCheck"
**Describe the bug**
Atlas check -> OverlappingEdgeCheck
Method -> isPartOfClosedWay
stream(nextEdge.outEdges()) returns both Master and negative edges.
To fix the issue add .filter(Edge::isMasterEdge)

**To Reproduce**
Pass OSM Way: 97245856
https://www.openstreetmap.org/way/97245856

[2020-06-02 16:23] vladlemberg commented on #302
fixed by filtering Master Edges

[2020-06-03 04:49] vladlemberg opened #306 "[New Check] Identify missing roundabouts"
**Description**
This check identifies potential roundabouts that are not properly tagged.

**Requirements**
This check is to look for suspicious circular junctions that may be roundabout without the “junction=roundabout” tag.

1. Check Candidate (example)
a) Closed way e.g. start and end location shared same lat/lon
b) Intersecting at least with two navigable roads
c) circular shape: angle between

[2020-06-03 14:17] vladlemberg commented on #302
fixed. unit test passed.

[2020-06-08 18:28] #302 closed

[2020-06-15 17:10] vladlemberg opened #316 "[Bug] MalformedRoundaboutCheck flags roundabout with SyntheticBoundaryNode"
**Describe the bug**
MalformedRoundaboutCheck is missing logic of checking whether the roundabout contain SyntheticBoundaryNode. As a result properly shaped roundabout got flagged (false positive).

**To Reproduce**
Run MalformedRoundaboutCheck against San Marino. Roundabout https://www.openstreetmap.org/way/288170227 is flagged due to border crossing between Italy and San Marino. See screenshot b

[2020-06-18 16:23] vladlemberg opened #318 "[Bug] MalformedRoundaboutCheck incorrect flagging for various cases"
**Describe the bug**
Malformed roundabout condition "Car navigable ways inside roundabout" flagging following false positive cases:
1. Roundabout doesnt contain any highway=navigable road.
2. Roundabout contains highway=navigable but its an Area
3. Roundabout spatially intersects with highway=navigable but on different layer.

**To Reproduce**
Run MalformedRoundAboutCheck against following cases:

[2020-06-18 21:10] Bentleysb commented on #318
Thanks for presenting these case. It looks like there is some enhancement required for the check. Below I have some observations about each of the cases.
I agree completely that case three is a problem. Clearly the check is not properly accounting for level differences.
Case two I think is more questionable. I think there is an argument that could be made that the service area should either not ov

[2020-06-19 20:20] vladlemberg commented on #318
Thanks for your comments! Agree, Case1,3 required enchantments.  Case2: I believe combination Highway="*", Area=Yes is not mapped to any Functional Road Class. Should be not navigable.

[2020-06-24 23:27] #316 closed

[2020-06-24 23:28] #306 closed

[2020-06-25 17:20] vladlemberg opened #320 "RoundaboutAsArea"
**Description**
OSMOSE 4020 migration. This check will flag roundabout with attached Area tag.

**Note**: this check will be added to existent Altas Check: InvalidTagsCheck

**Requirements**
- Atlas object is an Edge
- Must be a roundabout with tag “highway=(regular navigable roads)” and “junction=roundabout”
- "area=yes" should not be attached to roundabout
- "area=no" is redundant

**Use Cases**

[2020-07-06 18:04] #301 closed

[2020-07-07 18:59] danielduhh commented on #293
Any luck @stefanocudini ?

[2020-07-07 18:59] danielduhh commented on #289
Do you mind testing my PR? #13 @stefanocudini

[2020-07-08 19:37] #291 closed

[2020-07-14 20:14] vladlemberg commented on #318
@Bentleysb @sayas01 Hello, im working on fixing this issue.
I'm seeking your opinion for case 1 **"This roundabout has car navigable ways inside it".**
When i look at the OSM data im not seeing anything wrong:
<img width="511" alt="Screen Shot 2020-07-14 at 1 01 19 PM" src="https://user-images.githubusercontent.com/62575608/87470814-30c14d00-c5d2-11ea-9691-763b767d80a9.png">
Clear evidence that **

[2020-07-15 19:30] sayas01 commented on #318
@vladlemberg, I discussed with @Bentleysb on this and both of us agree that these cases need to be flagged with clear instructions on what the issue is and adding the locations/points(1 or 2) where the overlap happens.

[2020-07-23 14:30] taylorsmock opened #331 "Waterway checks (does not end in sink, crosses without intersection, closed waterway)"
**Description**
This is largely a migration of Osmose 1070/1220 (waterway overlaps, waterway intersecting waterway without junction, unconnected waterway, and closed waterway).

**Requirements**
* Is an `Edge` or a `Line` (logic should use `LineItem` where ever possible), since waterways may become an `Edge` in the future (specifically navigable waterways, so rivers, not small streams), and has va

[2020-07-24 23:01] vladlemberg commented on #318
@sayas01 , @Bentleysb, i submitted PR for this. Some comments:
1) Case #2 Area - fixed
2) Case #3 Multilayer support. Its actually fully handled in **ignoreBridgeTunnelCrossings** method. The reason I got this case during my analysis is that Atlas Data source was outdated. I've created Unit Tests handling all possible conditions.
3) I decided to leave it as is. Adding XY location to crossing point

[2020-07-27 13:16] mm-ciub opened #334 "InvalidTagsRegexCheck - bad source"
**Description**
The InvalidTagsRegexCheck could have a similar approach as the InvalidTagsCheck but would use regex to verify certain tag values.
To begin with it should verify if the source tag describes a legal source of data imported in OSM.
Examples of invalid sources: Google, Here.

**Requirements**
- Any OSM primitive that has a **source** tag should be feasible for this check.

**Use Cases*

[2020-07-27 19:00] #289 closed

[2020-08-01 04:18] iqnaul commented on #164
Hi, I think I'm experiencing the similar issue :runChecks FAILED I ran this on macOS, this is the stacktrace file

[2020-08-05 16:23] #318 closed

[2020-08-10 20:54] vladlemberg commented on #320
please refer to https://github.com/osmlab/atlas-checks/pull/339

[2020-08-17 21:41] ladwlo opened #341 "Bridge detailed info check (Osmose7012)"
**Description**
Migration of Osmose check #7012. This check will flag bridges of significant size which only have a generic bridge=yes tag without any details such as bridge type or its structure.

**Requirements**
- Atlas object is an `Edge`
- Its length is greater than X meters (configurable, default value is 500.0)
- It it tagged with `bridge=yes`
- It is tagged with `railway` or `highway=*` wh

[2020-08-19 14:07] ladwlo opened #343 "Tunnel/Bridge height limit check (Osmose7130)"
**Description**

Migration of Osmose check #7310. This check will flag navigable Ways which appear to have limited height clearance, but do not have an explicit `maxheight` tag. The use cases include tunnels, roads with `covered=yes` tag and roads passing under bridges.

**Requirements**

- Atlas object is an `Edge`
- It has a `highway`, `railway` or `waterway` tag
- It either has a `tunnel` or `c

[2020-08-20 00:17] reichg opened #344 "SuddenHighwayTypeChangeCheck (Osmose 1090)"
**Description**
This checks for highway tag changes greater than one classification.

**Requirements**
Must be a car-navigable highway Edge
Flag edges where the edge requires a link highway tag

**Use Cases**
True Positive
Case 1:
The VALID case where an edge is connected to another edge of different classification NOT through a *_link edge
Highway=primary Edge connects directly to a highway=terti

[2020-08-20 15:12] taylorsmock opened #345 "Water Area checks (waterway area overlaps, riverbank without river)"
**Description**
 This is largely a migration of Osmose 1070/1220 (waterway area overlaps, riverbank without river). This is a followup of #331 . This is in a separate pull request due to having slightly different requirements, and likely needing some work on the `intersects` logic. The waterway overlaps actually falls under Osmose 1150.

**Requirements**

* Is an Edge or a Line (logic should use L

[2020-08-21 21:29] brianjor opened #349 "InvalidTagCheck Improvement (Osmose 3040)"
## 3040 IncorrectTagCheck - Requirements

Developers: Brian Jorgenson
Date: 08/20/2020
PR #404

This document describes the requirements for the improvement to the existing InvalidTagCheck.

### Description
This improvement will check specific tag values that they are lowercase aphanumeric with no spaces.
The following tags will be checked:

- abutters, access, admin_level, aerialway, aeroway, ame

[2020-08-25 23:26] #320 closed

[2020-08-25 23:26] #341 closed

[2020-08-27 20:22] tsmock opened #352 "Bad tags (osmose 3050, 3150, and 4090)"
**Description**
Check for bad tags, tags that have a typo, and unwanted tags.

For unwanted tags, the tag should exist in [OSM Wiki Data](https://wiki.openstreetmap.org/wiki/Data_items) (e.g., https://wiki.openstreetmap.org/w/api.php?action=wbgetentities&sites=wiki&titles=Key:lanes&languages=en&format=json -- human readable [here](https://wiki.openstreetmap.org/wiki/Item:Q372)). This also affects

[2020-08-31 19:55] brianjor opened #353 "ConstructionCheck (Osmose 4070)"
# 4070 ConstructionCheck - Requirements
Developer: Brian Jorgenson
Analyst(s): [Name]
Date: 08/31/2020
PR: #358

 This document describes the requirements for the new ConstructionCheck.

## Description
This check checks if a features construction tag has not been updated for more than 2 years or the opening date has been exceeded.

## Requirements
* Contains a highway, landuse, or building tag wit

[2020-09-09 18:03] #345 closed

[2020-09-10 01:07] #331 closed

[2020-09-11 19:27] brianjor commented on #353
#358

[2020-09-18 03:49] danielduhh opened #363 "[Feature Request] Optionally add FeatureChanges to CheckFlag"
**Is your feature request related to a problem? Please describe.**

- Update the CheckFlag class to optionally include FeatureChanges.
- Add FeatureChange descriptions to CheckFlag geojson

[2020-09-18 03:56] danielduhh opened #364 "[Feature Request] Create FeatureChange and ChangeDescription deserializers"
**Is your feature request related to a problem? Please describe.**

- Create FeatureChange & ChangeDescription deserializer.

This deserializer will read CheckFlag GeoJSON outputs and convert the fix suggestions in the [ChangeDescription](https://github.com/osmlab/atlas/blob/dev/src/main/java/org/openstreetmap/atlas/geography/atlas/change/description/ChangeDescription.java) model. This will allow

[2020-09-18 04:00] danielduhh opened #365 "[Feature Request] Add Cooperative Challenges to MapRouletteUploadCommand"
**Is your feature request related to a problem? Please describe.**

- Update the MapRouletteUpload command to convert auto-fix suggestions into [Cooperative Challenges ](https://github.com/osmlab/maproulette3/wiki/Cooperative-Challenges)

Cooperative challenges bring in-progress work to a MapRoulette task for completion or verification. Tag changes can be committed directly to OSM from within MapR

[2020-09-18 04:08] danielduhh opened #366 "[Feature Request]"
**Is your feature request related to a problem? Please describe.**

- Create a text processing job to convert auto-fix suggestions into OSC change files.

The OSM change file is an accessible XML format that describes differences between OSM elements.
Supported operations: create, modify, delete
[code]

[2020-09-18 04:10] danielduhh opened #367 "[Feature Request] Text processing job to convert auto-fix suggestions to JOSM files"
**Is your feature request related to a problem? Please describe.**
* Create a text processing job that converts auto-fix suggestions into JOSM files.

The JOSM file format is created when saving and loading data into JOSM.
Supported operations: modify, delete

[code]

[2020-09-22 19:39] atiannicelli opened #369 "LevelCrossing Check - Requirements"
Developers: Alex Iannicelli
Analyst: Yunzhi Lin
Date: 09/22/2020

**Description**
Detect and flag objects that should not be tagged with the railway=level_crossing tag. Create missing railway/highway intersections. Tag railway/highway intersections that are not properly tagged as railway=level_crossing.

**Requirements**
There are three railway intersection scenarios that this check looks for:
1.

[2020-09-23 21:40] #363 closed

[2020-10-01 15:22] mm-ciub opened #377 "Highway inconsistency check - InvalidTagsCheck"
**Description**
Extension of the InvalidTagsCheck to look for missing tags in certain tag combinations containing or requiring `highway` tags, like junction or oneway.

**Requirements**
1. Check Candidate (example)
- is `Edge`| `Node`
- matched a specific TaggableFilter provided for each case

**Use Cases**
1. `highway` tag missing on a `junction` ( junction->*&highway->! )
https://www.openstreetm

[2020-10-07 20:29] #334 closed

[2020-10-07 20:29] #353 closed

[2020-10-07 21:36] #343 closed

[2020-10-19 02:40] ylinzhi opened #386 "[Fix Suggestions] Areas With Highway Tag Check"
**Which Atlas check is the fix suggestion related to?**

AreasWithHighwayTagCheck
Description: https://github.com/osmlab/atlas-checks/blob/dev/docs/checks/areasWithHighwayTagCheck.md
Script: https://github.com/osmlab/atlas-checks/blob/dev/src/main/java/org/openstreetmap/atlas/checks/validation/areas/AreasWithHighwayTagCheck.java

**Describe more details of suggested fix(es)**

*Suggested Fix 1*:

[2020-10-19 03:01] ylinzhi opened #387 "[Fix Suggestions] Malformed Roundabout Check"
**Which Atlas check is the fix suggestion related to?**

Malformed Roundabout Check

Description: https://github.com/osmlab/atlas-checks/blob/dev/docs/checks/malformedRoundaboutCheck.md
Script: https://github.com/osmlab/atlas-checks/blob/dev/src/main/java/org/openstreetmap/atlas/checks/validation/linear/edges/MalformedRoundaboutCheck.java

**Describe more details of suggested fix(es)**

*Suggested

[2020-10-19 03:47] ylinzhi opened #388 "[Fix Suggestions] Duplicate Node Check"
**Which Atlas check is the fix suggestion related to?**

Duplicate Node Check
Description: [The purpose of this check is to identify Nodes that are in the exact same location](https://github.com/osmlab/atlas-checks/blob/fb2dd356ddd327c92fcea1f657f45cbdae6ddd5e/docs/checks/duplicateNodeCheck.md)
Script: https://github.com/osmlab/atlas-checks/blob/1a7dc0d816021e7cfb751ede47445e9e1c6d1186/src/main/ja

[2020-10-19 03:51] ylinzhi opened #389 "[Fix Suggestions] Orphan Node Check"
**Which Atlas check is the fix suggestion related to?**

Orphan Node Check
Description: https://github.com/osmlab/atlas-checks/blob/dev/docs/tutorials/tutorial2-OrphanNodeCheck.md
Script: https://github.com/osmlab/atlas-checks/blob/dev/src/main/java/org/openstreetmap/atlas/checks/validation/points/OrphanNodeCheck.java

**Describe more details of suggested fix(es)**

*Suggested Fix 1*:

- Type of f

[2020-10-19 04:02] ylinzhi opened #390 "[Fix Suggestions] Road Name Gap Check"
**Which Atlas check is the fix suggestion related to?**

Road Name Gap Check
Description: https://github.com/osmlab/atlas-checks/blob/dev/docs/checks/RoadNameGapCheck.md
Script: https://github.com/osmlab/atlas-checks/blob/dev/src/main/java/org/openstreetmap/atlas/checks/validation/tag/RoadNameGapCheck.java

**Describe more details of suggested fix(es)**

*Suggested Fix 1*:

- Type of fixing: Tag f

[2020-10-19 04:15] ylinzhi opened #391 "[Fix Suggestions]"
**Which Atlas check is the fix suggestion related to?**

Invalid Tag Check
Description: https://github.com/osmlab/atlas-checks/blob/ca315302ff16b1743593a5d4b4aa71c4b4e57b02/docs/checks/invalidTagsCheck.md

Script: https://github.com/osmlab/atlas-checks/blob/ca315302ff16b1743593a5d4b4aa71c4b4e57b02/src/test/java/org/openstreetmap/atlas/checks/validation/tag/InvalidTagsCheckTest.java

**Describe mor

[2020-10-19 04:44] ylinzhi opened #392 "[Fix Suggestions] Building Road Intersections Check"
**Which Atlas check is the fix suggestion related to?**

Building Road Intersections Check
Description: https://github.com/osmlab/atlas-checks/blob/dev/docs/checks/buildingRoadIntersectionCheck.md
Script: https://github.com/osmlab/atlas-checks/blob/dev/src/main/java/org/openstreetmap/atlas/checks/validation/intersections/BuildingRoadIntersectionCheck.java

**Describe more details of suggested fix(

[2020-10-19 04:59] ylinzhi opened #393 "[Fix Suggestions] Mixed Case Name Check "
**Which Atlas check is the fix suggestion related to?**

MixedCaseNameCheck
Description: https://github.com/osmlab/atlas-checks/blob/dev/docs/checks/mixedCaseNameCheck.md
Script: https://github.com/osmlab/atlas-checks/blob/main/src/main/java/org/openstreetmap/atlas/checks/validation/linear/edges/OverlappingEdgeCheck.java

**Describe more details of suggested fix(es)**

*Suggested Fix 1*:

- Type o

[2020-10-19 05:14] ylinzhi opened #394 "[Fix Suggestions] One-Member Relation Check"
**Which Atlas check is the fix suggestion related to?**

One-Member Relation Check
Description: https://github.com/osmlab/atlas-checks/blob/dev/docs/checks/oneMemberRelationCheck.md
Script: https://github.com/osmlab/atlas-checks/blob/dev/src/main/java/org/openstreetmap/atlas/checks/validation/relations/OneMemberRelationCheck.java

**Describe more details of suggested fix(es)**

*Suggested Fix 1*:

[2020-10-19 05:34] ylinzhi opened #395 "[Fix Suggestions] Connectivity Check"
**Which Atlas check is the fix suggestion related to?**

Connectivity Check
Description: This check identifies nodes that should be connected to nearby nodes or edges
Script: https://github.com/osmlab/atlas-checks/blob/e36a240f37344c99a25b00eb42c8e1b77b228a88/src/main/java/org/openstreetmap/atlas/checks/validation/points/ConnectivityCheck.java

**Describe more details of suggested fix(es)**

*Sugg

[2020-10-19 05:43] ylinzhi opened #396 "[Fix Suggestions] Highway To Ferry Tag Check"
**Which Atlas check is the fix suggestion related to?**

Highway To Ferry Tag Check
Description: https://github.com/osmlab/atlas-checks/blob/6c987dd8bb0e87df4900e9a7a605f6a13ecfce7d/docs/checks/highwayToFerryTagCheck.md
Script: https://github.com/osmlab/atlas-checks/blob/6c987dd8bb0e87df4900e9a7a605f6a13ecfce7d/src/main/java/org/openstreetmap/atlas/checks/validation/tag/HighwayToFerryTagCheck.java

[2020-10-22 23:43] vladlemberg opened #399 "RoundaboutMissingTagCheck v2"
**Describe the bug**
Improve check output by implementing following logic:

1. Remove [Turning loops](https://wiki.openstreetmap.org/wiki/Tag:highway%3Dturning_loop), [Turning Circles](https://wiki.openstreetmap.org/wiki/Tag:highway%3Dturning_circle).
2. Remove navigable ways with motor_vehicle=no
3. Remove navigable ways with foot=yes
4. Remove navigable ways with footway tag
5. Remove navigable

[2020-10-23 20:42] #344 closed

[2020-10-26 21:08] atiannicelli commented on #386
I believe we can close this as complete as this PR (https://github.com/osmlab/atlas-checks/pull/361) added suggestions for this check.

[2020-10-27 14:36] atiannicelli opened #403 "[Fix Suggestions] Water Way Check"
**Water Way Check**
Description: https://github.com/tsmock/atlas-checks/blob/dev/docs/checks/waterWayChecks.md
Code: https://github.com/osmlab/atlas-checks/blob/dev/src/main/java/org/openstreetmap/atlas/checks/validation/areas/WaterAreaCheck.java

**Describe more details of suggested fix(es)**

Suggested Fix 1:
  Type of fixing: Way fix
  Operation: Modify
  Suggested Action: reverse the way direc

[2020-10-29 19:03] Bentleysb commented on #377
@mm-ciub, is this complete?

[2020-10-29 22:00] seancoulter commented on #389
👍

[2020-10-29 22:12] seancoulter commented on #386
@ylinzhi the check only considers Atlas edges and areas, but may still suggest tag removes from edges/areas that are in relations (https://github.com/osmlab/atlas-checks/pull/361). If this is a problem let me know, otherwise we can close this out

[2020-10-29 22:26] seancoulter commented on #387
Looks good. We should be able to suggest auto fixes for roundabouts with invalid source edges (must be a main edge with an ISO code and junction=roundabout) in addition to the other 2 cases mentioned

[2020-10-29 22:27] seancoulter commented on #388
👍

[2020-11-02 23:01] Bentleysb commented on #394
Technically there is no geometry fix needed here, the entire feature is just being deleted.

It might be worth investigating if there are use cases where simply deleting the feature is not the best solution (e.g. a missing member should be added, or some tags should be moved to the member relation), but this seems like a good fix suggestion candidate.

[2020-11-02 23:02] Bentleysb commented on #395
This will involve some complicated tag merging for the 2 nodes, but worth a shot.

[2020-11-02 23:04] Bentleysb commented on #396
👍

[2020-11-02 23:04] Bentleysb commented on #403
👍

[2020-11-03 19:29] sayas01 opened #405 "[Fix Suggestions] Floating Edge Check"
**Which Atlas check is the fix suggestion related to?**

**FloatingEdgeCheck**

Description: https://github.com/osmlab/atlas-checks/blob/dev/docs/checks/floatingEdgeCheck.md

Source Code: https://github.com/osmlab/atlas-checks/blob/dev/src/main/java/org/openstreetmap/atlas/checks/validation/linear/edges/FloatingEdgeCheck.java

**Describe more details of suggested fix(es)**

*Suggested Fix 1*:

- T

[2020-11-03 19:29] sayas01 opened #406 "[Fix Suggestions] Overlapping Edge Check"
**Which Atlas check is the fix suggestion related to?**

**OverlappingEdgeCheck:**
Description: Checks that two Edges do not share the same two consecutive geometry points. Each segment of a
main Edge is checked for overlapping segments of other main edges. If an Edge has previously been
found to overlap some Edge, it will not be flagged unless it is overlapped by an Edge not flagged yet. It ignor

[2020-11-03 19:29] sayas01 opened #407 "[Fix Suggestions] Single Segment Motorway Check"
**Which Atlas check is the fix suggestion related to?**

**SingleSegmentMotorwayCheck:**
Description: https://github.com/osmlab/atlas-checks/blob/dev/docs/checks/singleSegmentMotorwayCheck.md

Source Code: https://github.com/osmlab/atlas-checks/blob/dev/src/main/java/org/openstreetmap/atlas/checks/validation/linear/edges/SingleSegmentMotorwayCheck.java

**Describe more details of suggested fix(es)

[2020-11-03 19:29] sayas01 opened #408 "[Fix Suggestions] Intersecting Buildings Check"
**Which Atlas check is the fix suggestion related to?**

**IntersectingBuildingsCheck:**
Description: https://github.com/osmlab/atlas-checks/blob/dev/docs/checks/intersectingBuildingsCheck.md

Source Code: https://github.com/osmlab/atlas-checks/blob/dev/src/main/java/org/openstreetmap/atlas/checks/validation/intersections/IntersectingBuildingsCheck.java

**Describe more details of suggested fix(es

[2020-11-03 19:41] sayas01 opened #409 "[Fix Suggestions] Address Street Name Check"
**Which Atlas check is the fix suggestion related to?**

**AddressStreetNameCheck:**
Description:https://github.com/osmlab/atlas-checks/blob/dev/docs/checks/addressStreetNameCheck.md

Source Code: https://github.com/osmlab/atlas-checks/blob/dev/src/main/java/org/openstreetmap/atlas/checks/validation/points/AddressStreetNameCheck.java

**Describe more details of suggested fix(es)**

*Suggested Fix

[2020-11-03 20:25] sayas01 commented on #393
👍

[2020-11-03 20:31] sayas01 commented on #392
The check flags buildings that intersect the center lines of roads. I feel like the most appropriate fix is to update the geometry of the building to not intersect/overlap the road. Something like the lines that intersects the building could be updated to be so and so distance from the road. This will involve code change.

[2020-11-03 20:48] sayas01 commented on #391
The current logic of InvalidTagsCheck uses taggable filters passed through a config / resource file to flag atlas objects that have invalid tags. Adding autofix suggestions to InvalidTagsCheck will require code change. One solution would be to pass the action(DELETE) and tag in the resource/ config along with the taggable filter and instruction.

[2020-11-03 20:48] sayas01 commented on #390
👍

[2020-11-03 23:46] #349 closed

[2020-11-04 06:56] mm-ciub commented on #377
yes, it is. It got merged with PR #397

[2020-11-04 15:39] #377 closed

[2020-11-06 19:47] reichg opened #412 "TollValidationCheck"
## ***TollEscapeCheck - Requirements***

Developers: Gabe Reichenberger
Date: 10/09/2020

### ***Description***

 This check attempts identify 3 cases to validate toll tag modeling.

### ***Requirements***
***An Atlas Object must meet the following criteria to be considered***

Atlas Object
- Is an Edge
- Is car navigable
- Is not private access
- Minimum tertiary classification

### ***Cases***
*

[2020-11-09 18:16] dcastrowa commented on #352
Utilizing InvalidTagsCheck will definitely be the best approach to this issue. I do see some complications happening due to the complexity of the requirements for this issue it look like there is enough references and tools out there to make this happen. I do also see that there may be a lot of false positives which may end up making this check invalid.

[2020-11-09 19:18] tsmock commented on #352
I do foresee a lot of (initial) false positives. Most of the time, the FP can be fixed in the OSM Wiki Data (in #357 I'm setting a threshold for "probably an error" and "probably needs to be documented" in order to alleviate the issue _and_ improve documentation). My intent is to split out all issues that specifically refer to adding to the wiki and condensing them so that human editors can look a

[2020-11-09 19:21] dcastrowa commented on #352
Great! It sounds like there is a solution and some known issues with the initial false positives. I think this is achievable with the given status.

[2020-11-10 13:27] mm-ciub opened #413 "[New Check]SourceMaxSpeedCheck"
**Description**
This check should verify that the `source:maxspeed` tag is following the rules established here: https://wiki.openstreetmap.org/wiki/Key:source:maxspeed
The possible values:
- sign (where the speed limit is defined by a numeric sign.)
- markings (where the speed limit is defined by painted road markings.)
- <country_code>:\<context\> (where the speed limit is defined by a particula

[2020-11-10 16:21] Bentleysb commented on #413
This looks good as a new check. The only question I have is if you have looked into examples of source:maxspeed tags on nodes. I see from the wiki that this tag can appear on OSM nodes. It would be worth checking some examples in an Atlas to see if those cases always become atlas nodes, or if some of them become points. My guess would be that they are more likely to become points (also many OSM no

[2020-11-10 20:40] atiannicelli opened #415 "[Bug] Crash running MapRouletteUpload"
**Describe the bug**
Crash seen while running mapRouletteUpload when any log files in the output folder have lines without a "features" key.

**To Reproduce**
Steps to reproduce the behavior:
1. Produce a log file with WaterAreaCheck
2. Then execute the mapRouletteUpload command against that log file (or while that log file is in the output directory.
3. You should see the crash below

**Expected

[2020-11-10 21:12] atiannicelli commented on #415
I'm not saying that this is the real fix, but this worked around the issue for me:
[code]

[2020-11-11 07:14] mm-ciub commented on #413
So I looked over the node cases and from taginfo, there seem to be 10 692 cases of this tag to be present on nodes.
Some examples of these nodes:
https://www.openstreetmap.org/node/68466222#map=19/33.80409/-84.63726
https://www.openstreetmap.org/node/5121078122 - this one is not part of a way
- there seem to be a lot of cases in Europe:
https://www.openstreetmap.org/node/5312712494
https://www.ope

[2020-11-11 15:40] atiannicelli commented on #369
Complete

[2020-11-11 15:40] #369 closed

[2020-11-11 15:43] atiannicelli commented on #403
Please assign this to @tsmock

[2020-11-11 15:45] atiannicelli commented on #399
Complete. @vladlemberg can you close this issue?

[2020-11-11 16:09] atiannicelli opened #416 "[Fix Suggestions] Roundabout Missing Tag Check"
**Which Atlas check is the fix suggestion related to?**

**RoundaboutMissingTagCheck:**
https://github.com/osmlab/atlas-checks/blob/dev/docs/checks/roundaboutMissingTagCheck.md

source Code:
https://github.com/osmlab/atlas-checks/blob/dev/src/main/java/org/openstreetmap/atlas/checks/validation/linear/edges/RoundaboutMissingTagCheck.java

**Describe more details of suggested fix(es)**

*Suggested F

[2020-11-11 16:09] atiannicelli commented on #416
Please assign to @vladlemberg

[2020-11-11 16:58] Bentleysb commented on #413
Looking at these examples of osm nodes with this tag, it is clear that many of them will not be atlas nodes. All of them will be atlas points simply because they have an osm tag (we know they will have source:maxspeed). So it looks like this check should look at Edges and Points.

Everything else about this looks good.

[2020-11-11 20:17] Bentleysb commented on #416
👍

[2020-11-11 20:29] atiannicelli opened #417 "[Feature Request] command line parameter to adjust Max Pool Duration"
**Is your feature request related to a problem? Please describe.**
When running checks on global datasets we sometimes find that we are executing for more than 24 hours. the current pool duration limit is 24 hours and it quietly stops the spark job before it completes.

**Describe the solution you'd like**
It would be nice to be able to add a parameter on the command line like "-poolTimeoutMinutes

[2020-11-11 22:13] atiannicelli opened #419 "[Bug] MapRouletteUploadCommand only highlights first feature in each flag"
**Describe the bug**
When mapRouletteUploadCommand is used to produce projects and challenges on map roulette only the first "feature" from each flag is highlighted in the corresponding task.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the LevelCrossingOnRailwayCheck against NZL
2. Use the MapRouletteUploadCommand to create a Map Roulette challenge for this check and country.
3. Insp

[2020-11-12 09:30] mm-ciub commented on #413
I updated the issue accordingly. Thank you very much for the help.

[2020-11-14 21:33] atiannicelli commented on #417
As an update I have found that there is one check that is taking an extremely long time to finish when being executed against some specific shards. This is why BRA, NPL, etc keep coming up as skipped countries in our check runs. Even if we just specify a single country like NPL with all checks there is one or two checks that don't finish so the whole run is chalked up as a failure.

Here are the c

[2020-11-16 16:16] atiannicelli commented on #417
I created the following PR for this issue: https://github.com/osmlab/atlas-checks/pull/423

please let me know if that would be acceptable.

[2020-11-17 20:03] seancoulter commented on #365
Tag auto fixes addressed in https://github.com/osmlab/atlas-checks/pull/411

[2020-11-17 20:16] tsmock opened #427 "[Bug] Atlas 6.3.3 breaks InvalidMultiPolygonRelationCheckTest"
**Describe the bug**
Specific tests broken:
* testOpenRelation (expected: `"The Multipolygon relation 39569 with members : [39766, 39565] is not closed at some locations : [POINT (103.9145902 1.4119302), POINT (103.9462109 1.4263886), POINT (103.9462109 1.4263886), POINT (103.9256395 1.4483904)]"`, actual: `"The Multipolygon relation 39569 with members : [39766, 39565] is not closed at some locati

[2020-11-18 16:57] Bentleysb commented on #427
I just updated those test recently to reflect a change in atlas logic. It looks like the new logic is now disabled by default. I will look into this.
@tsmock is there something you need in atlas 6.3.3?

[2020-11-18 17:30] tsmock commented on #427
Nope. I had been building `atlas-generator` and `atlas-checks` at the same time for https://github.com/osmlab/atlas-generator/pull/167 (a requirement for #398 , which is a requirement for #352 ), and `atlas-generator` just updated to atlas 6.3.3.

So I don't _need_ atlas 6.3.3 in atlas-checks, it just happens to be a dependency of atlas-generator, and I figured we would eventually need to update t

[2020-11-18 22:34] vladlemberg commented on #399
merger to dev.

[2020-11-18 22:34] #399 closed

[2020-11-19 17:55] atiannicelli opened #429 "[Feature Request] MapRouletteUploadCommand new challenge and project "undiscoverable" parameter"
**Is your feature request related to a problem? Please describe.**
When using the MapRouletteUploadCommand it would be nice to have a parameter to indicate that new projects and challenges that are created should be made "undiscoverable".

**Describe the solution you'd like**
When we use the MapRouletteUploadCommand to create maproulette projects and challenges they are created as "Discoverable" P

[2020-11-19 23:51] Bentleysb commented on #417
https://github.com/osmlab/atlas-checks/pull/423 has been merged and released.

I looked into the metrics for EdgeCrossingEdgeCheck on recent runs I have done. For the shards you mentioned, none took over 90 second to complete. There were a few shards for the check that took quite a while (around an hour). However none of those were in NPL or BRA, and LineCrossingWaterBodyCheck and InvalidMultipoly

[2020-11-20 02:09] atiannicelli commented on #417
OK, sounds good. You must just have much faster CPUs to see those times. Hmmm. Anyway, good enough now that we have a to increase the limit.

[2020-11-20 02:09] #417 closed

[2020-11-20 21:04] seancoulter commented on #415
See https://github.com/osmlab/atlas-checks/pull/435

[2020-11-20 21:05] seancoulter commented on #419
Closing -- unable to reproduce as we were getting expected behavior.

[2020-11-20 21:05] #419 closed

[2020-11-24 20:20] vladlemberg opened #436 "[New Check][Fix Suggestions]TurningCircleCheck"
**Description**
Identify [Turning Loops](https://wiki.openstreetmap.org/wiki/Tag:highway%3Dturning_loop) and [Turning Circles](https://wiki.openstreetmap.org/wiki/Tag:highway%3Dturning_circle)

**Requirements**
Check Candidate
- Is an `Edge`
- Is `Car Navigable`
- Is [Closed Way](https://wiki.openstreetmap.org/wiki/Item:Q4669)
- Has valence = 2
- Is not `Roundabout`
- Is not `Area`

**Use Cases**

[2020-11-30 18:23] #427 closed

[2020-12-04 00:56] reichg opened #439 "OpenBoundaryCheck"
### Description
This check attempts to check for Administrative relations that should be closed polygons but are not.

### Requirements
##### Check Candidate
 - Must be a Relation
 - Must be of type Boundary
 - Must have admin_level tag

### Use Cases
##### True Positives
 - [Yakıntaş](https://www.openstreetmap.org/relation/8284136) neighborhood boundary is not closed

##### False Positives
 - [Se

[2020-12-04 15:59] atiannicelli commented on #416
This autofix has been completed.

[2020-12-04 15:59] #416 closed

[2020-12-04 19:38] vladlemberg commented on #387
The implementation of AutoFix turn out not a straightforward task. Proposed error checks occurs in different codebase: ComplexRoundabout (Atlas). MalformedRoundabout received combined error messages:
`WRONG_WAY_INVALIDATION = "This roundabout is going the wrong direction, or has been improperly tagged as a roundabout.";
    protected static final String INCOMPLETE_ROUTE_INVALIDATION = "This rounda

[2020-12-04 19:44] Bentleysb commented on #439
Just noting here that this will suffer from the know large relation issue in the sharded checks job. Handling of this has been discussed offline and this otherwise looks good to go.

[2020-12-08 20:59] vladlemberg opened #442 "[Bug] Handling one member relation in OneMemberRelationCheck & InvalidMultiPolygonRelation"
**Describe the bug**
One member relation is not properly handled in OneMemberRelationCheck & InvalidMultiPolygonRelation checks. `One member relation` might contain `reverse` edge or `sectioned` edges with same OSM id. Therefore relation.member.size != 1

**To Reproduce**
One member [relation](https://www.openstreetmap.org/relation/4831183 ) has two members in Atlas:
{Member: ID = -340426234000000

[2020-12-15 19:58] vladlemberg commented on #442
merged to dev. please close.

[2020-12-15 20:14] vladlemberg opened #448 "[Feature Request] Add more common methods to CommonMethods Utility Class"
**Is your feature request related to a problem? Please describe.**
No. This is code refactoring to eliminate redundancies in different checks.

**Describe the solution you'd like**
Add common methods to [CommonMethods](https://github.com/osmlab/atlas-checks/blob/dev/src/main/java/org/openstreetmap/atlas/checks/utility/CommonMethods.java) utility class.

Candidates:
1. isPartOfClosedWay - check if

[2020-12-17 00:48] #439 closed

[2020-12-17 01:37] vladlemberg commented on #387
@Bentleysb, I'd like to clarify AutoFix suggestion scenarios based on our discussion in PR.
**Wrong Roundabout Direction**
Case 1: Simple Roundabout. Closed way. 4 Atlas Edges. [Example](https://www.openstreetmap.org/way/801814369)
Requirements: Create single AutoFix edit comprising 4 Edges

Case 2: Complex Roundabout. Unclosed Way. Different OSM ids. Example: need to find
Requirements: Create mul

[2020-12-17 03:17] reichg opened #450 "ConcerningAngleBuildingCheck"
**Description**
This check attempts to flag buildings who have angles between 80 and 89.9 degrees. (Acute)

**Requirements**
* Check Candidate:
  1. Is an area or relation AND is a building or is part of a building.
  2.  Angles between consecutive segments cannot be between 80 - 89.7 degrees or between 90.3 - 100 degrees.

**Use Cases**
Example:
[Building: 791199451](https://www.openstreetmap.org

[2020-12-17 17:19] Bentleysb commented on #450
I am curious about the use cases this will be trying to capture. We already have [SpikyBuildingCheck](https://github.com/osmlab/atlas-checks/blob/dev/docs/checks/spikyBuildingCheck.md) which flags very acute angles, but this seems to be more for angles that have not been properly squared.
I am a bit concerned about the number of false positives that there may be. This may take a bit of tuning to w

[2020-12-17 17:35] Bentleysb commented on #387
Here is an example of a multi way roundabout: https://www.openstreetmap.org/way/349400768

I'm not sure there is a way to differentiate these two cases in ComplexRoundabout, but they can certainly be differentiated in the check by getting the number of unique OSM IDs in the `roundaboutEdgeSet`.

However, I don't think there is any need for differentiation. In both cases we want to both flag and cr

[2020-12-17 17:58] reichg commented on #450
Yeah, I was looking at the SpikyBuildingCheck and was thinking maybe it could be tied into that. The only problem is for organizational and metric purposes it makes sense to keep them separate. I've already done one pass through this check and got over 50k flags. Definitely need to tune this properly to remove complex buildings and buildings with curves I think. > I am curious about the use cases

[2020-12-17 19:08] vladlemberg commented on #387
@Bentleysb, thanks for the example!

To clarify
Case 1: single way roundabout ->  create 1 AutoFix suggestion comprising all sectioned Edges
Case2: multi way roundabout ->  create AutoFix suggestion per unique OSM ID

Possible false positives for case 2.
Assuming that only one section of multi way roundabout has wrong direction. Because we don't know which one it is, we will flag all of them.

Pro

[2020-12-17 19:36] Bentleysb commented on #387
@vladlemberg, that is a good point about the false positive possibility for case 2. If we cannot identify which section(s) are going the wrong directions then we should probably not include a fix suggestion for that case.

For case one, and case two if we know all sections are reversed, we need one fix suggestion per Edge in the roundabout, regardless of OSM ids. One fix suggestion can only ever c

[2020-12-17 20:29] seancoulter commented on #415
Resolved by #435

[2020-12-17 20:29] #415 closed

[2020-12-17 21:46] vladlemberg commented on #387
got it. Thanks Bentley!

[2020-12-24 07:36] vladlemberg opened #454 "[New Check] MissingRelationType Check"
**Description**
This check is to flag a relation feature when it’s missing tag type=* .  A relation is typically assigned with a clear type to help deciding rendering style, or routing design.  A type=* tag is used to definite what type of a relation represent,  it has 18 categories so far, including multipolygon, connectivity, boundary, waterway, public transportation, etc.  More details see OSM

[2020-12-30 20:53] #450 closed

[2021-01-05 16:30] brianjor opened #459 "[Improvement] MalformedRoundaboutCheck: Minimum OSM Nodes/Angles"
**Description**
Checks amount of OSM nodes in roundabout are at or above a certain number.
This is a request from our editors to flag roundabouts that are made of fewer than 9 OSM nodes.
We are also checking the angle between the segments of the roundabout.

**Requirements**
This improvement will add a check for the number of OSM nodes that make up the roundabout.
It will also check that the angle

[2021-01-05 16:48] Bentleysb commented on #459
@brianjor, just to check, you mean OSM nodes here not Atlas nodes, right?

[2021-01-05 17:43] brianjor commented on #459
@Bentleysb, yes, OSM nodes.

[2021-01-05 18:09] vladlemberg opened #460 "[Bug] Properly handle "One Member Relation" check in MissingRelationTypeCheck & OneMemberRelationCheck."
**Describe the bug**
Incorrect calculation of "One Member Relation" in utility.CommonMethods when artificial Relation Member (Point role) is being added during the Atlas Generation Step.

**To Reproduce**
Following "one member relations" have two members in Atlas.
https://www.openstreetmap.org/relation/4580159
https://www.openstreetmap.org/relation/9587737
https://www.openstreetmap.org/relation/36

[2021-01-05 18:32] vladlemberg commented on #459
@brianjor, is it new integrity check ?  please also provide use cases with OSM ids and your candidate criteria.

if you are trying to flag all roundabouts that are not "round shaped", i'd recommend calculating a degree between each node.

there a quite a bit of roundabouts with more than 9 shape point that looks not circular at all.

I'm also currently working in this check. plan to finish today/t

[2021-01-05 18:40] vladlemberg commented on #454
@sayas01. i believe its merged. please close.

[2021-01-05 18:42] vladlemberg commented on #442
@sayas01, please close.

[2021-01-05 18:47] brianjor commented on #459
@vladlemberg, this is not a new check. It is just adding a new flag to the check.
The addition is only looking at the count of OSM nodes that make up the roundabout, not the shape.

[2021-01-05 19:14] vladlemberg commented on #459
@brianjor what would be the editing action after you flag it ?

[2021-01-05 19:16] brianjor commented on #459
@vladlemberg More nodes would need to be added to the roundabout.

[2021-01-05 19:40] vladlemberg commented on #459
@brianjor, to make it more "round shaped" ? if yes, then your logic will flag only certain percent of malformed roundabouts. let's say one of the edges in your example has few more extra shape points, then it wont be flagged.

to make it more scalable i'd recommend calculating angle between each node utilizing "anglesGreaterThanOrEqualTo" and "anglesLessThanOrEqualTo" methods in org.openstreetmap.

[2021-01-05 19:45] #454 closed

[2021-01-05 23:17] vladlemberg commented on #387
@Bentleysb, @sayas01 I removed Multi Way roundabout from Auto Fix per our discussion. With respect to creating individual AutoFix per Edge. Since "Single Way" roundabout is complete entity in OSM, I created one AutoFix per roundabout with complete geometry. I had to use OsmWalker instead of roundaboutEdgeSet because its sorted by Atlas Section. I also moved buildOriginalOsmWayGeometry to utility.C

[2021-01-06 18:18] vladlemberg commented on #460
@sayas01, could you please assign this task to me ?

[2021-01-06 19:47] vladlemberg commented on #448
@sayas01, could you please assign it to me ?

[2021-01-06 19:54] vladlemberg commented on #436
@sayas01, please assign this task to me.

[2021-01-06 20:16] brianjor commented on #459
@vladlemberg I talked with our editors, they agree that checking the angles would be a good addition. I'll add it to the requirements.

[2021-01-06 20:34] vladlemberg commented on #459
@brianjor, that's cool! I also submitted Autofix PR for MalformedRoundabout check. Not sure if its going to affect your development. https://github.com/osmlab/atlas-checks/pull/449/

[2021-01-06 21:22] #442 closed

[2021-01-06 21:25] Bentleysb commented on #412
@reichg, is this full resolved by https://github.com/osmlab/atlas-checks/pull/432?

[2021-01-06 21:26] Bentleysb commented on #364
Complete

[2021-01-06 21:26] #364 closed

[2021-01-06 21:27] reichg commented on #412
Yes, sorry!

[2021-01-06 21:27] Bentleysb commented on #365
complete

[2021-01-06 21:27] #365 closed

[2021-01-06 21:28] brianjor commented on #459
@vladlemberg Just took a peek at your PR, doesn't look like it will be an issue. I'll just wait for yours to be merged before starting my PR.

[2021-01-07 23:30] reichg opened #464 "UnknownHighwayTagCheck"
### Description
This check attempt to address unknown highway tags.

### Requirements
This section should specify the requirements for an Atlas object (or OSM feature) to be flagged by this check. This section is mainly for devs to get a sense of feature candidates for the source code.
1. Object must be a way or node
2. Object highway tag must reside within the HighwayTag.java enum.

### Use Cases

[2021-01-08 21:43] vladlemberg opened #466 "[Check Improvement] EdgeCrossingEdgeCheck improvement"
EdgeCrossingEdgeCheck is only working with Car Navigable Highway Types and not checking layer (z-level) if crossing edge is a bridge.

To improve:
1) Add configurable value: highway_type [vehicle_only|pedestrian_only] to configuration.json.
2) If both crossing candidates don't have level tag, check if one of the candidate is a bridge (default level=1)

True Positive (Case 1):
![image](https://user

[2021-01-09 02:02] atiannicelli commented on #466
Two questions/comments:
1) What would the configurable value for highway_type do? vehicle_only would only look at vehicle ways and not detect if pedestrian ways crossed them?  If I set Pedestrian only would it only look at pedestrian ways that crossed pedestrian ways?
2) Please also add a new condition: If both crossing candidates don't have level tag, check if one of the candidate is a tunnel (de

[2021-01-10 18:31] vladlemberg commented on #466
@atiannicelli,
1. **vehicle only** will look only for a navigable way, which crossing with any types of highway **(current check logic)**. Therefore we are adding **pedestrian only**, which will look for a pedestrian way crossing with all types of highways. one-to-many approach.
2. ok. will add bridge and tunnel to layer check.

[2021-01-11 12:09] atiannicelli commented on #466
@vladlemberg sounds good! For automation purposes I just want to make sure that we can configure it to execute both types of checks in one run. So default would be to check both vehicle and pedestrian ways and then IF configured then the user can make it do one or the other?

[2021-01-12 18:16] atiannicelli commented on #466
@sayas01 can you assign this to @vladlemberg ?

[2021-01-12 22:32] vladlemberg commented on #459
@brianjor, #449 got merged.

[2021-01-13 16:10] #460 closed

[2021-01-14 15:39] ladwlo commented on #394
There are cases such as [this island](https://www.openstreetmap.org/relation/9900519) where certain tags should be added to the member Way before removing the redundant relation. I am not sure if this can be generalized enough to be turned into an autofix suggestion. Would it be safe to e.g. include two autofixes here, one to delete the relation and another to add any _missing_ tags to the member

[2021-01-14 17:44] Bentleysb commented on #394
As many suggestions as needed can be included to resolve a problem, as long as we are confident that they are the correct solution. For the island in question I think it would be correct to include a fix suggestion to add tags to the way and another to remove the relation.

[2021-01-14 20:24] atiannicelli commented on #406
@sayas01 Can you assign this to @tsmock

[2021-01-14 20:33] vladlemberg opened #473 "[Bug] EdgeCrossingEdge is not checking bridge or tunnel layer."
**Describe the bug**
getInvalidCrossingEdges method is not checking Bridge or Tunnel layer for edge and crossing edge.

**To fix:** use LayerTag.getTaggedOrImpliedValue instead of LayerTag.getTaggedValue

**To Reproduce**
Run check against both navigable and pedestrian ways.
shard 8-68-105
ways 163037860 and 323396239 got flagged.

**Expected behavior**
ways 163037860 and 323396239  should not be

[2021-01-18 11:51] mm-ciub commented on #390
Is this still open? I would be interested to work on it.

[2021-01-18 14:28] atiannicelli commented on #390
As far as I know it is. The road name gap check does not have auto fix suggestions yet. go for it!

[2021-01-19 15:07] atiannicelli commented on #473
@sayas01 This could be assigned to @vladlemberg as he is working on a fix to it.

[2021-01-27 21:23] vladlemberg opened #483 "[Bug] unable to build original OSM geometry for oneway=reverse and oneway=-1"
**Describe the bug**
CommonMethods.buildOriginalOsmWayGeometry is not handling oneway=reverse or oneway=-1 edges.
Error message: Cannot append LINESTRING (-95.4336684 29.7291958, -95.4339074 29.7291853) to LINESTRING (-95.4336684 29.7291958, -95.4335713 29.7292001) - **the end and start points do not match.**
Please refer to this discussion for way sectioning understanding: https://github.com/osml

[2021-01-27 22:01] #459 closed

[2021-01-28 01:46] vladlemberg commented on #483
@Bentleysb, could you please assign it to me ?

[2021-01-28 07:31] mm-ciub commented on #390
I believe this issue could be closed now.

[2021-01-28 16:40] Bentleysb commented on #390
complete

[2021-01-28 16:40] #390 closed

[2021-01-28 18:41] brianjor opened #485 "[New Check] SimilarTagValueCheck"
**Description**
This check looks for similar values in a tag that are separated by a ‘;’.

**Requirements**
An Atlas object must meet the following criteria to be considered:
1. Has a tag with multiple values

**Use Cases**
*Case 1: [FP] Destination names are similar but correct*
 - https://www.openstreetmap.org/way/6140462
 - ![2021-01-27 10 51 48](https://user-images.githubusercontent.com/227511

[2021-01-28 20:00] Bentleysb commented on #485
This looks like it could end up being very heavy on FPs. It might be worth trying to get an estimate on the rate before getting to far into development.

[2021-01-28 21:11] brianjor commented on #485
Looking at the results that Osmose has (https://osmose.openstreetmap.fr/en/errors?country=usa_washington&item=3060&level=1%2C2%2C3) I'm thinking of having a list of tags to ignore, and possibly a list of values to ignore (ethnonyms, and what ever else pops up), to reduce FP rates.

[2021-01-28 21:39] brianjor commented on #485
From a preliminary run just looking for 100% matching tag values in NZL.
All the FPs are from the tags:
- destination -> https://www.openstreetmap.org/way/520976518
- turn:lanes -> https://www.openstreetmap.org/way/627477493
- cables, circuits -> https://www.openstreetmap.org/way/790916533

So it looks like not checking these tags values would be enough as the rest are TP.
Going to setup the check

[2021-01-28 22:47] Bentleysb commented on #485
One other suggestion is to look into how [MixedCaseNameCheck](https://github.com/osmlab/atlas-checks/blob/dev/src/main/java/org/openstreetmap/atlas/checks/validation/tag/MixedCaseNameCheck.java#L119) handles testing against only specific countries/languages. It seems something like that could be useful here.

[2021-01-28 23:40] vladlemberg opened #487 "[Improvement] Eliminate code redundancy utilizing CommonMethods."
**Is your feature request related to a problem? Please describe.**
Code refactoring eliminating identical/similar methods with same logic across checks.

**Describe the solution you'd like**
utilize utility.CommonMethods class for unified implementation.

**Additional context**
Candidates:
- RoundaboutMissingTagCheck
- InvalidPierseCheck
- OverlapingEdgeCheck

[2021-02-01 18:34] atiannicelli commented on #429
Thanks!

[2021-02-01 18:34] #429 closed

[2021-02-01 20:13] atiannicelli commented on #366
@sayas01 could you assign this to @tsmock ? He's going to start on this now.

[2021-02-03 21:01] atiannicelli opened #492 "[Feature Request] Map Roulette Upload supports array of strings for Description and Instructions"
**Is your feature request related to a problem? Please describe.**
When uploading issues flagged by atlas checks to a challenge in Map Roulette I would like the ability to create a long winded Description.

**Describe the solution you'd like**
I'd like to have the "Description" and "Instruction" parameter in the "configuration.conf" file that we specify when running the map_roulette upload command

[2021-02-03 21:10] atiannicelli opened #493 "[Feature Request] Map Roulette Upload parameter to remove incomplete tasks when updating challenges"
**Is your feature request related to a problem? Please describe.**
When using map roulette upload command to update a challenge it will update tasks with the same IDs, but it will not delete tasks that are no longer present if they are addressed in OSM.

**Describe the solution you'd like**
When executing the map roulette upload command to update a challenge it would be nice to be able to specify

[2021-02-04 07:28] mm-ciub commented on #413
This issue can be closed.

[2021-02-04 16:49] atiannicelli commented on #492
@sayas01 Please assign this to @vladlemberg

[2021-02-04 17:32] #413 closed

[2021-02-04 17:50] vladlemberg opened #494 "[New Check] IntersectionAtDifferentLayersCheck"
**Description**
This check is to detect and flag a node when it is a non-terminal intersection node between two ways which have different layer tag values. Catching such cases will prevent “jump off the bridge” or “climb up the bridge” scenarios when routing.

**Requirements**
An Atlas Object to be flag must meet the following criteria to be considered:

1. Object must be node that is a member of

[2021-02-04 17:50] vladlemberg commented on #494
@sayas01, please assign this to me.

[2021-02-04 20:28] atiannicelli opened #496 "[Bug] LineCrossingWaterBodyCheck erroneous location in flag"
**Describe the bug**
The LineCrossingWaterBodyCheck places an erroneous location "feature" in the flag whenever creating a flag.

**To Reproduce**
Execute the LineCrossingWaterBodyCheck and look at the flags output. There will always be an extra Location feature in the flag json that is output. It looks like the location of the first node in the water feature, which is not necessarily a location t

[2021-02-04 21:30] atiannicelli opened #497 "[Bug] LineCrossingWaterBodyCheck false positives on ferries, fords, and embankments"
**Describe the bug**
The LineCrossingWaterBodyCheck is incorrectly flagging the following cases:
1. Ways that terminate at a node on the edge of a water body that has a `ferry=yes` tag
2. Ways that terminate at a node at the edge of a water body that is also the terminating node for a way that contains the `ford=yes` or` embankment=yes` tag
3. Way cross water bodies that are marked as `intermitten

[2021-02-04 21:38] seancoulter commented on #497
Hey @atiannicelli , thanks for the analysis on this. Do you have OSM IDs for cases 1-3?

[2021-02-05 14:24] atiannicelli commented on #497
@seancoulter I added a few links to the comment and removed the original case 3. Originally I thought there was an issue with ways marked as ford=yes, but I think the edge case is where a road with no ford or embankment terminates on a node that is shared with a waterbody. If that way continues into the waterbody with a ford or embankment then I think that this case should not be flagged. Case 2 i

[2021-02-08 16:45] #487 closed

[2021-02-09 17:03] Bentleysb commented on #492
This sounds good to me. I think multi line descriptions and instructions are already possible by just adding new line characters, but I am not opposed to adding the array based formatting of this.

[2021-02-09 17:14] #483 closed

[2021-02-09 18:16] seancoulter commented on #492
Sounds good. Note that the challenge instructions can currently be viewed from the challenge homepage. We will monitor whether this requires UI changes in the Instructions field for the task, to fit all the text in

[2021-02-09 18:58] atiannicelli opened #501 "[Feature Request] OverlappingEdgeCheck one task per set of contiguous overlapping segments"
**Is your feature request related to a problem? Please describe.**
Each OverlappingEdgeCheck flag indicates a single segment of two ways that are duplicated. It would be better to group all contiguous segments that are duplicates into one flag.

**Describe the solution you'd like**
Currently the instructions for this check when uploaded to Map Roulette state "Duplicate Highway found for way id 829

[2021-02-09 20:16] atiannicelli opened #502 "[Feature Request] SharpAngleCheck should list locations with sharp angles in instructions"
**Is your feature request related to a problem? Please describe.**
The SharpAngleCheck doesn't list any nodes or locations if there are more than one sharp angle on a way. This makes it difficult to find the issue when the way is long or when the sharp angle is a "micro spike" (A very small spike in a road that is hard to see unless you are zoomed in tight).

**Describe the solution you'd like**
I

[2021-02-09 21:09] atiannicelli opened #504 "[Bug] ConnectivityCheck flags parallel way as connectable"
**Describe the bug**
The ConnectivityCheck flags the connection points between parallel ways that connect to parallel ways that contain bridge=yes tags

**To Reproduce**
Execute the Connectivity Check on any country with dual highways that have bridges.

**Expected behavior**
Nodes that are the connecting nodes between two ways should not be considered for connectivity check.
Here is a Map Roulett

[2021-02-10 19:12] #464 closed

[2021-02-10 21:24] #485 closed

[2021-02-11 15:07] atiannicelli opened #507 "[Feature Request] RoadNameGapCheck instructions and bridge enhancement"
**Is your feature request related to a problem? Please describe.**
The instructions for RoadNameGapCheck use the word "edge" when it should use the word "way" or "road". The feature ID of the way in question is also not included in the instructions.

**Describe the solution you'd like**
The current instruction for this check looks like this
[code]
This should be changed something like this:
[code]

[2021-02-18 16:43] atiannicelli commented on #497
I'll take this one and work on it.

[2021-02-19 18:57] brianjor commented on #501
@atiannicelli
I've started working on this: see [branch](https://github.com/brianjor/atlas-checks/tree/one-task-per-way).

[2021-02-19 21:25] brianjor commented on #501
I've got a MR challenge with the first results up. https://maproulette.org/admin/project/42999/challenge/16993/task/84218164/inspect
Does this look like how they should be grouped?

[2021-02-19 21:51] atiannicelli commented on #501
Yup - since I'm not an admin I can't inspect, but I saw it here: https://maproulette.org/challenge/16993/task/84218164
Looks good to me - that one is even interesting because it has one section that isn't overlapping in the middle.

The only thing I would change is to remove the anchor. I'm investigating what causes that, but I think that some ways to crates a flag adds a location in the feature l

[2021-02-24 14:45] matkoniecz opened #518 "Consider editing repository setings to remove empty and unused "Packages" section"
"Packages No packages published" is displayed right now, fortunately this pointless section duplicating releases info can be removed.

Edit repo page config to remove it (cog next to the description).

I am not making a PR as it is defined in proprietary github settings, not in a git repository - and I have no rights to modify repo settings.

![Peek 2020-10-25 09-10](https://user-images.githubuser

[2021-02-24 14:55] matkoniecz opened #519 "Consider editing description of repo to make clear that it is useful as a hedless OSM validator [Feature Request]"
**Is your feature request related to a problem? Please describe.**
I was looking for a headless OSM validator and I failed to find one. As I understand this repo is usable as a headless validator of OSM data

**Describe the solution you'd like**
Right now https://github.com/osmlab/atlas-checks#atlas-checks starts from

what to me sounds like Atlas-specific checks (data integrity?) not about checki

[2021-02-24 17:36] matthieun commented on #518
Hello @matkoniecz this is a great idea. Let me do that now.

[2021-02-24 17:36] #518 closed

[2021-02-24 20:51] #501 closed

[2021-02-25 00:23] Bentleysb commented on #519
Hey @matkoniecz, thanks for checking out the project.
You should be able to use Atlas Checks as headless OSM validator, but that generally requires converting OSM data from the OSM PBF format to the [Atlas](https://github.com/osmlab/atlas) format using [Atlas Generator](https://github.com/osmlab/atlas-generator). It is also possible to run small PBFs through Atlas Checks directly, however, that fu

[2021-02-25 08:40] mm-ciub commented on #407
I believe this issue can be closed.

[2021-02-25 16:48] #407 closed

[2021-02-26 21:49] atiannicelli opened #520 "[Bug] RoadNameGapCheck suggestion when name exists almost never the right thing to do"
**Describe the bug**
The roadNameGapCheck suggestion when the gap segment has an existing name today suggests to add that name to the alternatives and then use the in and out segments' names. Seems like a good way to go, but in practice it is almost never the right thing to do.

**To Reproduce**
Execute RoadNameGapCheck and then create a MapRoulette challenge from the results. look through the tas

[2021-03-01 21:48] reichg opened #522 "Points being duplicated during Maproulette Upload"
**Description**
Comparing the log files to Maproulette tasks, there are points that are duplicated during the upload process. If there are no points added in the CheckFlag it looks like Maproulette also adds an unwanted point.

**To Reproduce**
Steps to reproduce the behavior:
1. Run any check that has points added to the CheckFlag
2. Upload flags to MR via the MaprouletteUploadCommand
3. Compare

[2021-03-01 21:49] reichg commented on #522
@seancoulter

[2021-03-02 18:57] vladlemberg commented on #409
@sayas01, please assign it to me. thanks!

[2021-03-03 22:46] vladlemberg commented on #448
@Bentleysb, please close this issue.

[2021-03-03 23:23] vladlemberg commented on #409
@sayas01, @Bentleysb, @atiannicelli,
I tested AddressStreetNameCheck output against US Metro Areas. Here is my observation: vast majority of flags are POIs locating in large plazas or shopping centers with physical addresses beyond default radius of 100m. The second group of flags are Address Points inside large apartment complexes. All of them most likely are FPs.

Per our discussion with @Bentle

[2021-03-04 17:43] #448 closed

[2021-03-04 17:51] Bentleysb commented on #409
@vladlemberg, what percentage of the false positives you observed would you say fall under the road name normalization use case? I think part of the original impetus for this check was to flag these spelling and capitalization discrepancies, as they can cause problems for routing engines.
I know there was also one use case you shared with me where the false positive was caused by the search distan

[2021-03-04 18:29] vladlemberg commented on #409
@Bentleysb, quite a lot. Please take a look at 1000m [challenge](https://maproulette.org/admin/project/43124).

typical example: Cortland Ave VS Cortland Avenue.
<img width="564" alt="image" src="https://user-images.githubusercontent.com/62575608/110011305-20caba80-7cd4-11eb-939e-b448e6dedbd7.png">

[2021-03-04 18:43] vladlemberg commented on #409
FP summary:
POIs, Address Points - can be fixes by increasing radius for example 1000m. however its not solving this issue completely.
Road Name - can be fixed by RoadName Standardization library where: N North St = North North Street.
I have an experience of writing OSM Road Name standardization for other projects. Maybe we should do it for OSM Lab.

[2021-03-04 19:03] Bentleysb commented on #409
We can use a standardization library, but I would argue that we do not want to do that in this case. Based on the guidelines in the OSM wiki for both the [name tag](https://wiki.openstreetmap.org/wiki/Names#Notes) and [addr:street tag](https://wiki.openstreetmap.org/wiki/Key:addr) the street names should be standardized in the data. So I would say these are in fact true positive flags that should

[2021-03-04 19:25] vladlemberg commented on #409
Agree, but in this case we end up of fixing Prefixes, Suffixes, Abbreviations and local highway names. its huge and in my understanding is totally different project or separate check.

[2021-03-05 14:45] atiannicelli commented on #412
Can we close this please.

[2021-03-07 09:10] reichg commented on #412
linked PR for the update to this check. Will close when PR is complete.

[2021-03-08 15:00] atiannicelli commented on #502
Can be closed. PR 508 addressed this.

[2021-03-08 15:14] atiannicelli commented on #405
This seems extreme to me to suggest to delete an edge that is floating. If we suggest to delete it then people may blindly delete edges instead of connecting them properly to another edge.

[2021-03-08 17:12] #496 closed

[2021-03-08 18:31] #502 closed

[2021-03-08 19:40] Bentleysb commented on #387
Completed by https://github.com/osmlab/atlas-checks/pull/449.

[2021-03-08 19:40] #387 closed

[2021-03-08 19:44] Bentleysb commented on #386
Closing, as there has been no action in several months and this appears to be completed by https://github.com/osmlab/atlas-checks/pull/361.

[2021-03-08 19:44] #386 closed

[2021-03-08 19:46] Bentleysb commented on #405
I agree with @atiannicelli. I think the fix suggestion case for this check would be to see if there is a nearby Edge and suggest connecting to that. If there are no nearby Edges then the fix would likely be more than we can suggest programmatically.

[2021-03-08 19:51] Bentleysb commented on #409
I am not sure it is so different, but I think you're right. Perhaps it is better to create a new check to handle road name standardization, and try to exclude those cases from this check.

[2021-03-08 20:14] vladlemberg commented on #409
as far as I know every company processing OSM data have their own name normalizer. therefore the impact of fixing "Main St" to "Main Street" is rather low. however, I think implementing such library for atlas-checks will benefit the project.

please advice what would be the next step for this task ?

[2021-03-08 20:59] Bentleysb commented on #409
For this task it sounds like the next step is to use a standardization library to remove the standardization cases from the check. Once that is done we can reevaluate if a fix suggestion is possible.

[2021-03-08 21:23] vladlemberg commented on #409
that sound good to me. should we include std lib as utility class in atlas-checks or stand alone project under osm lab ?

[2021-03-08 22:13] Bentleysb commented on #409
I don't think we need a stand alone project. It could be made part of the Atlas repo, but I think it would be fine in Altas Checks. It would be worth checking if there are any existing libraries that we could consider adding to the project that would serve this purpose.

[2021-03-09 16:18] #412 closed

[2021-03-10 20:24] #497 closed

[2021-03-16 08:46] mm-ciub commented on #520
I believe this was fixed in https://github.com/osmlab/atlas-checks/pull/521

[2021-03-16 08:47] mm-ciub commented on #507
I believe this can be closed (https://github.com/osmlab/atlas-checks/pull/521)

[2021-03-16 08:48] mm-ciub commented on #396
I believe this issue can be closed now.

[2021-03-16 15:11] Bentleysb commented on #520
Looks complete.

[2021-03-16 15:11] #520 closed

[2021-03-16 15:13] Bentleysb commented on #507
Looks complete.

[2021-03-16 15:13] #507 closed

[2021-03-16 15:13] Bentleysb commented on #396
Complete

[2021-03-16 15:13] #396 closed

[2021-03-17 13:54] mm-ciub opened #532 "[New Check]LoneNodeCheck"
**Description**
The check will look for nodes that have a highway tag but are not part of a way that has a highway or railway tag.
It will also verify that the highway tag value is correctly associated with a Node element.

**Requirements**
Any Node element that has a highway tag is a valid candidate for this check.

Example:
 - Is a `Node`
 - Has `highway` tag with any value.

**Use Cases**

*Cas

[2021-03-17 20:28] seancoulter opened #533 "[Feature Request] OSC support in MapRouletteUploadCommand"
This is to track support for OSC file uploads using the MapRoulette Upload command. We should be able to upload osc files for individual Tasks in a cooperative challenge. A cooperative challenge is simply a challenge whose edit state can be saved and picked up again by later editors. When a Task has an osc file bundled with it, and it's uploaded, the result is that in-progress/already done work fo

[2021-03-24 07:19] reichg opened #535 "TallBuildingCheck"
**Description**
The purpose of this check is to identify invalid building:levels and height tags as well as identify statistically outlying building:levels/height tags.

**Requirements**
Check Candidate
 * Is an `Edge`|`Relation`|`Area`|
 * Is a building or part of a building
 * Has building:levels or height tag

**Use Cases**
Case 1 - Building has a building:levels tag greater than 100.
* Small a

[2021-03-24 20:56] atiannicelli commented on #492
String arrays supported now. Closing

[2021-03-24 20:56] #492 closed

[2021-03-24 22:58] vladlemberg commented on #473
fixed. @Bentleysb please close.

[2021-03-25 15:25] reichg opened #537 "HighwayMissingNameAndRefTagCheck"
**Description**
This check detects highways that are missing a name and ref tag. At least one of them is required.

**Requirements**
Check Candidate
 - Is an `Edge`
 - Is MainEdge
 - HighwayTag greater than or equal to 'tertiary'
 - Not a roundabout
 - Not circular

**Use Cases**
* Primary road [way:174686797](https://www.openstreetmap.org/way/174686797) is missing both name and ref tag.

![image]

[2021-03-28 01:01] reichg opened #539 "Add option to aggregate sharded integrity check spark job output into 2500 flag files instead of files for each shard"
**Is your feature request related to a problem? Please describe.**
When the sharded integrity check spark job is run it produces many files based on shards, it would be nice to have the option to aggregate output into 2500 flag limit files like the non-sharded legacy integrity check spark job.

[2021-03-29 22:21] Bentleysb commented on #539
This was formerly the case for the sharded job, but was changed recently as part of making the entire job more distributable: https://github.com/osmlab/atlas-checks/pull/498
I don't think it would be easy to change this back in the main job execution without loosing that distributability.
This could be done by having an interim output that is then resorted as it is copied to the final location. Th

[2021-03-30 18:31] vladlemberg opened #540 "[Check Improvement] MixedCaseNameCheck to support MixedCase Brands"
**Describe the bug**
1) MixedCase Brands are not supported and being flagged.
Example:
FedEx, RadioShack, JCPenney etc..

2) Spanish and Italian "prepositions" are not supported.
Example:
del, de la.

**To Reproduce**
Run check against US data. Following names a re being flagged:
https://www.openstreetmap.org/node/5269224921
https://www.openstreetmap.org/node/4354550152
https://www.openstreetmap.o

[2021-03-30 18:44] vladlemberg commented on #540
@Bentleysb, @sayas01, @atiannicelli, please take a look.
I already added Spanish "prepositions" to check. My question is how to handle MixedCase brand names ?
option 1: check the Title case only instead of every character.
option2: create side file with MixedCase brand names.

[2021-03-30 21:52] vladlemberg commented on #540
another examples where lowercase part of name the does not belong to the actual name:
Manhattan Bridge lower level
Metromover entry
Aviation Circle - departures
Main Trail (red)
201 Spring Street building loading dock
Queen Anne Avenue N crossing at Lee Street

making them an upper case might confuse users.

[2021-03-30 21:53] vladlemberg commented on #540
@Bentleysb, do we have false positive rate for this Check ?

[2021-03-30 22:48] Bentleysb commented on #540
@vladlemberg, this check has always had problems with brand names. It has one of the higher FP rates at 17%, but much of that is skewed by a few countries.

I don't think we want to totally drop checking for mixed case in the middle of words, but we may want to do so in certain cases. Perhaps we could just check for title casing on features tagged as shops or amenities?

As for the non-brand name

[2021-03-31 19:33] vladlemberg commented on #540
@Bentleysb, thanks for the respond. few more questions:
1) do we want to tight the check logic first then implement AutoFix or vise versa ?
===
2) "-n-" cases should be flagged or not ? Kiss**-n-**Ride, Bismillah Kabob**-n-**Curry, Comics**-n-**Stuff, Check**-n-**Go
3) cases with lowercase "i" followed be the Capital letter should be flagged or not ? iPhone, iSomething

[2021-03-31 19:41] vladlemberg commented on #540
good idea. I'm creating mapping rules.

[2021-03-31 19:58] Bentleysb commented on #540
@vladlemberg, It sounds like the check logic will need to be done first, or simultaneously to the autofix implementation.

The `-n-` and `i`cases are all brand names that are capatalized like that. So those should not be flagged.

[2021-04-01 09:33] reichg opened #541 "[New Check] FixMeReviewCheck"
**Description**
This check flags any feature which contains the "fixme" or "FIXME" tag.

**Requirements**
1. Check Candidate (example)
 - Is an `Edge`|`Point`|`Relation`|`Node`|`Area`|`Line`|
 - Contains "FIXME" or "fixme" tag.

**Use Cases**
To Come

**Supported regions**
All Countries

**References**
Include a short description of the reference (e.g. osm wiki links, check source code, etc.) and

[2021-04-05 16:25] #535 closed

[2021-04-06 14:32] atiannicelli opened #542 "[Bug] LineCrossingWaterBody complains about building over damn"
**Describe the bug**
When a building exists on top of a damn and is mapped as a separate feature with a layer=1 to indicate that it is above the damn (or water) the LineCrossingWaterBodyCheck flags the waterbody area and building intersection as an issue.

**To Reproduce**
Execute the LineCrossingWaterBodyCheck where a water body area (water=river, natural=water) goes under a building that is on l

[2021-04-06 23:06] #537 closed

[2021-04-09 17:27] vladlemberg commented on #540
@Bentleysb, could you assign this task to me ?

[2021-04-09 17:29] vladlemberg commented on #393
@sayas01, could you please assign this task to me ?

[2021-04-19 13:30] atiannicelli opened #548 "[Feature Request] Add "tags" parameter to MapRouletteUploadCommand"
**Is your feature request related to a problem? Please describe.**
When uploading flags to Map Roulette it is useful to be able to assign tags to the Map Roulette tasks. With this feature the use _could_ add an optional parameter to the call to MapRouletteUploadCommand that would pass  one ore more tags to the MR API to assign those tags to created or updated MR tasks.

**Describe the solution you

[2021-04-21 14:31] mnogacka opened #549 "[Bug] Problem with running Atlas Checks in a Spark Cluster"
**Describe the bug**
I'm trying to run Atlas Checks in a Spark Cluster.

**To Reproduce**
For now I tried running atlas-check version 6.1.17 and 6.1.12 on machines with java 11, spark 3.0.1, and command to submit an atlas check spark job:
            cmd = (
                "/opt/spark/bin/spark-submit"
                + " --class=org.openstreetmap.atlas.checks.distributed.ShardedIntegrityChecksSp

[2021-04-21 17:53] atiannicelli commented on #542
fixed by https://github.com/osmlab/atlas-checks/pull/513

[2021-04-21 17:53] #542 closed

[2021-04-21 17:57] atiannicelli commented on #533
@sayas01 Please assign to @vladlemberg

[2021-04-21 21:23] vladlemberg commented on #540
@Bentleysb, to summarize:
1) We don't need AutoFix for this Check due to complexity of input data.
2) Adding Spanish prepositions is done. Not sure about French and Dutch. What do you think ?
Example: du, van der, etc..
https://www.openstreetmap.org/way/5995653
https://www.openstreetmap.org/way/4476760
3) CamelCase Brandnames. This is the most complicated. I removed all objects with following tags

[2021-04-22 20:22] seancoulter commented on #549
Hi @mnogacka , it looks like there was some problem loading classes in your Spark environment. Could you try removing the `spark.driver.userClassPathFirst` param, rebuilding the project, and executing?

[2021-04-23 05:28] mnogacka commented on #549
Yes, I used wrong params. I've change it to:
[code]

it works now.

[2021-04-23 18:06] #549 closed

[2021-04-27 15:14] Bentleysb commented on #540
@vladlemberg, that all looks good to me. As for adding French and Dutch prepositions, you can add that now if you like, but it is not essential for this update. Eventually we will need all languages if we want this to work everywhere, but that is expected to happen slowly.

[2021-04-27 21:14] vladlemberg commented on #540
@Bentleysb, thanks for the clarification. One more question: I added "Rock-n-Roll" and "Rock 'n Roll" handling, however it brakes "Test-TesT" unit case, because I removed hyphen as a delimiter. What's your opinion ?

[2021-04-27 21:27] vladlemberg commented on #540
@Bentleysb, sorry it brakes validNamePointHyphenTest: "Test-Test"

[2021-04-27 21:32] vladlemberg commented on #540
or I can change pattern: `("^\\p{Lu}.*-n-\\p{Lu}.*$")` -> `("^n$|^'n$")`

[2021-05-14 15:51] atiannicelli opened #553 "[Bug] DuplicateLocationInPolyLineCheck should not flag terminating loops."
**Describe the bug**
The current check flags roads that loop around and end on themselves. Parking lots that loop around and come back to the same entry or turning loops that are mapped with a road that goes around the circle and meets back up with itself should not be flagged.

**To Reproduce**
Run the DuplicateLocationInPolyLineCheck check on the USA and you well find that it flags many turning

[2021-05-17 13:23] atiannicelli commented on #493
This PR fixed this issue. https://github.com/osmlab/atlas-checks/pull/551

[2021-05-17 13:23] #493 closed

[2021-05-20 20:42] atiannicelli opened #557 "[Bug] ShortSegmentCheck flags are mostly False Positives"
**Describe the bug**
The ShortSegmentCheck seems to want to flag edge/way segments that are too short, but in practice I see that OSM ways that don't have any short segments are being flagged.

**To Reproduce**
Execute the ShortSegmentCheck

**Expected behavior**
I think that this check wants to find way segments that are very short for no reason. It may be that this check needs to be converted to

[2021-05-20 21:00] atiannicelli opened #558 "[Bug] InvalidAccessTagCheck needs to ignore ways that cross boarders."
**Describe the bug**
Way segments that cross borders should be ignored.

**To Reproduce**
Execute the InvalidAccessTagCheck on Israel and evaluate the produced flags

**Expected behavior**
Ways that cross over a boarder (may in Israel) that are marked as `access=no` are being flagged but they should be ignored or the entire way on both side of the border needs to be evaluated.

**Screenshots & Sta

[2021-05-21 13:50] atiannicelli commented on #553
@sayas01 Please assign this to @tsmock

[2021-05-21 14:53] atiannicelli commented on #548
not really necessary... closing.

[2021-05-21 14:53] #548 closed

[2021-05-28 10:43] andrewharvey opened #561 "lineCrossingWaterBodyCheck leading to bad edits"
I'm not sure if this is the correct place to report but the check at https://github.com/osmlab/atlas-checks/blob/dev/docs/checks/lineCrossingWaterBodyCheck.md is being used by Facebook mappers to update in Australia, however I'm finding a number of these changes not correct. So I'll post them here?

1. https://osmcha.org/changesets/105459547 the path and the water object were never intersecting to

[2021-05-28 10:54] andrewharvey commented on #561
2. https://osmcha.org/changesets/105460554 it was changed to the water and path don't connect, but in this case the paths go to the waters edge so should connect

[2021-05-28 13:51] atiannicelli commented on #561
1. I'm not sure why the mapper added a node to that way indicated in the changeset (566314737). The issues as flagged in task https://maproulette.org/task/94126725 was trying to flag the fact that the last node of way 48731943 ends on the edge of the water body 531128566. The check looks for ways that terminate at the water's edge that don't have a tag on that intersecting node to indicate what th

[2021-05-29 04:53] andrewharvey opened #562 "[New Check] natural=water contains natural=wood"
**Description**
I can't think of why natural=wood should intersect natural=water areas. Trees in the water are usually wetland=mangrove.

**Requirements**
1. Check Candidate (example)
 - Identify where natural=wood contains natural=water. Where two areas touch with shared nodes or shared relation member, then that's fine and common to mark where the wood meets the water.

**Use Cases**
https://www

[2021-05-29 09:59] andrewharvey commented on #561
Oh that makes more sense, I should have checked the actual MapRoulette task.

So these are both the same issue then, a way terminating at the waters edge.

Do you know of prior discussion of this for OSM?

For example from the second task, https://www.openstreetmap.org/way/332749248/history is terminating at the water edge, but I think it makes sense to connect because it helps show the access poi

[2021-05-29 11:37] atiannicelli commented on #561
Yup - both the same issue.

I tend to agree with you here. I thought about it a bit and I think that it probably makes sense to allow highways tagged as any type of foot path to connect directly to the water's edge and terminate there.

highway=(footway|bridleway|steps|corridor|path)

I would still flag if these types of paths crossed over the water without a tag that indicated the type of crossin

[2021-05-30 04:35] andrewharvey commented on #561
Another conceivable example is a natural rock pool/ocean bath, some of these are tagged leisure=swimming_pool so not caught up here but others might be natural=water, and you might have highway=steps leading into the water area, as the steps provide access to the pool and usually extend below the water mark.

https://www.openstreetmap.org/way/948582481 is an example, though in this case I've termi

[2021-05-30 04:37] andrewharvey commented on #561
With these examples, I'm not saying it's not helpful to flag these, because sometimes they might be map errors to be corrected, just downstream users of the flagged issues (like MapRoulette users) should be aware that it's not necessarily always an issue.

[2021-06-01 13:23] atiannicelli commented on #561
I think the atlas checks project is trying to flag issues to be corrected. I don't think we want to flag features that are possibly issues, so I am going to recommend to my team that the following changes be made to this check:

1) ways that end on the edge of a water body with the following tags should not be flagged as issues:
      highway=(footway|bridleway|steps|corridor|path)
2) ways that cr

[2021-06-01 14:34] Bentleysb commented on #561
Hey @andrewharvey, thanks for creating this issue, and thanks @atiannicelli for digging into it. I agree it looks like there needs to be an update to better handle paths and the like, and the proposed changes look good.

[2021-06-01 15:12] Bentleysb commented on #562
This sounds like a great idea for a check. I would propose ignoring anything tagged as a wetland, unless there is good evidence not to.

[2021-06-01 17:34] vladlemberg commented on #561
Hi @Bentleysb, please assign this task to me.

[2021-06-01 21:52] andrewharvey commented on #562
Since you can't have both `natural=wetland` and `natural=wood` on the same object then it's either one or the other, and agreed wetlands are often mapped over the water area.

If you have `natural=wood` + `wetland=*` then I'd say that's a tagging error as if there is a wetland it should be `natural=wetland` otherwise if not a wetland then just `natural=wood`.

[2021-06-02 20:55] #553 closed

[2021-06-08 01:27] xiaohongtang2 commented on #557
I will send PR for fix this issue

[2021-06-15 20:58] #558 closed

[2021-06-15 21:00] #473 closed

[2021-06-23 14:41] atiannicelli opened #575 "[Bug] OneMemberRelationCheck can't handle relations with relation members?"
**Describe the bug**
The OneMemberRelationCheck produces a flag for relation [10483780](https://www.openstreetmap.org/relation/10483780), claiming that the relation has only one member. The feature actually has three members. [2306823](https://www.openstreetmap.org/relation/2306823), [2306824](https://www.openstreetmap.org/relation/2306824), and [2306831](https://www.openstreetmap.org/relation/230

[2021-06-23 15:31] atiannicelli opened #576 "[Feature Request] Add flag name override in config file"
**Is your feature request related to a problem? Please describe.**
In the configuration file for atlas checks each section is identified by a name of the check to execute, but I was wondering if we could add a new parameter in the configuration for each check that identifies the check code to execute and then start using the section header as an output check name.

**Describe the solution you'd li

[2021-06-23 21:33] atiannicelli opened #577 "[Feature Request] LevelCrossingOnRailwayCheck refinement request"
**Is your feature request related to a problem? Please describe.**
Many of the issues that this check is flagging are intersections between a road and disused rail. I believe that the best tag to add to these nodes is disused:railway=level_crossing
Also, there is probably no real need to flag level crossing on service ways or lower.

**Describe the solution you'd like**
Add a refinement to the Lev

[2021-06-23 22:25] Bentleysb commented on #576
I very much like the idea of being able to run a check multiple times with one configuration. It is likely going to take a lot of refactoring, but is probably worth it.
If possible I would like to see some backwards compatibility, and a way to use overrides instead of having to completely reconfigure all parameters. My thought is a structure like the following would work:
[code]
The `name` param w

[2021-06-23 22:35] Bentleysb commented on #575
The giant id issue should defiantly be looked at.
As for the main issue of false positives, this has been a known thing since we started to use the sharded checks job. The issue is that there is a set dynamic atlas policy that is used for all checks. This policy limits dynamic expansion to shards within 10km of the starting shards. So in the case of large/disparate relations the entire thing does

[2021-06-24 06:09] reichg opened #578 "[Bug] Allow spark job to run a country for which no checks are configured to run"
**Describe the bug**
Spark job fails if country is configured to run but no checks are configured to run in that country. This is not ideal in a scenario where you have country restricted checks but want to run a small group of checks on a small group of countries.

**To Reproduce**
1. add `"countries": ["NZL"]` to the PoolSizeCheck object in the configuration.json.
2. in the atlas-checks spark jo

[2021-06-24 12:49] atiannicelli commented on #575
OK, sounds like I should split this out into two separate issues. I will convert this one over to the giant ID and create another one for the other issue if is doesn't already exist.

[2021-06-24 19:14] atiannicelli commented on #577
@Bentleysb @sayas01 - if this sounds good to you then I will work on this one.

[2021-07-02 16:52] vladlemberg commented on #577
@sayas01, please assign this to me

[2021-07-12 18:39] vladlemberg commented on #494
@sayas01 please close this issue.

[2021-07-19 23:34] Bentleysb opened #585 "[Bug] SinkIslandCheck Flags Ferry Locked Roads"
**Describe the bug**
SinkIslandCheck produces false positive flags when the only car accessible route to a small network of edges is via a ferry.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the Check in RUS
2. Look for flags of and near https://www.openstreetmap.org/way/603953726

**Expected behavior**
The check should consider car ferries as part of the road network. However, I don'

[2021-07-28 17:56] #352 closed

[2021-07-28 19:41] atiannicelli commented on #557
Fixed! Thanks!

[2021-07-28 19:41] #557 closed

[2021-07-30 19:00] nelkapelmenka opened #592 "[New Check] StreetNameCheck"
**Description**
Each country has a certain value that needs to be flagged in the name or street tag.  #581

**Requirements**
__An Atlas Object must meet the following criteria to be considered:__
- ISO code is AUT, CHE, DEU or LIE
- Type relation, node or way
- CHE and LIE must have a street tag or name tag that contains "straβe"
- DEU and AUT must have a street tag or a name that contains "strass

[2021-07-30 19:21] nelkapelmenka opened #593 "[Check Improvement] InvalidTagsCheck to filter on country"
InvalidTagsCheck only works on singular tags and not combined tags.

As described in [issue 9009](https://wiki.openstreetmap.org/wiki/Osmose/issues#9009), there are some deprecated tags that need to be flagged. Based on the [backend](https://josm.openstreetmap.de/browser/josm/trunk/resources/data/validator/territories.mapcss), we are looking specifically at Germany objects of type Relation with "t

[2021-08-03 00:27] vladlemberg commented on #577
Hi @sayas01, please close this issue. Its merged.

[2021-08-03 00:27] vladlemberg commented on #561
Hi @sayas01, please close this issue. Its resolved.

[2021-08-03 21:52] reichg commented on #522
@Bentleysb

Still seeing this issue in all point related checks. Points from the flags are duplicated and given empty properties. The point with no properties is displayed on top of the flag point with properties so the user cannot view them.

[2021-08-03 21:55] reichg commented on #522
Examples:

[VEN SignPostCheck](https://maproulette.org/challenge/18603/task/95890040)
[AUS territories Tasmania](https://maproulette.org/challenge/19130/task/99478510)
All tasks from these challenges should behave similarly

[2021-08-06 17:44] herriotto opened #597 "[Fix Suggestions] AddressStreetNameCheck to consider abbreviations"
AddressStreetNameCheck in Venezuela market has tags addr:street=Av.5 which refers to 'Avenida 5', such as here -
https://maproulette.org/challenge/18614/task/95888925

another example is addr:street=Av. Bolivar, referring to 'Avenida Bolivar' identified in the AtlasCheck here -
https://maproulette.org/challenge/18614/task/95891518

Are abbreviations considered/under discussion for this check?

[2021-08-09 16:52] nelkapelmenka opened #598 "[New Check] BadHighwayLinkCheck"
**Description**
Flagging the highway links that are labeled improperly or are too long (over 1000 meters).

**Requirements**
- Type way
- Has one of the following highway tags: ["motorway_link", "trunk_link", "primary_link", "secondary_link", "tertiary_link"]
- Case 1: Highway link too long: over 4 nodes AND over 1000 m in length
- Case 2: Highway link tag doesn't correspond to the higher priority

[2021-08-10 13:33] #577 closed

[2021-08-10 13:50] atiannicelli commented on #561
@andrewharvey, I believe we have addressed the issues you identified in this issue.

Issues like https://maproulette.org/task/94126725 will no longer be flagged. Also Way 332749224 and the like are no longer flagged.

Feel free to take a look at https://maproulette.org/browse/challenges/17379 and see what you think of the issues flagged by that check in Australia. If you feel this specific issue h

[2021-08-10 15:14] Bentleysb commented on #598
@nelkapelmenka
This looks to be doing mostly the same thing as [RoadLinkCheck](https://github.com/osmlab/atlas-checks/blob/dev/docs/checks/roadLinkCheck.md). I think this would make sense as an enhancement for for that check, updating the default minimum to 1km, and adding the higher priority highway logic to the existing highway connection logic.

[2021-08-10 21:37] nelkapelmenka commented on #598
@Bentleysb
I have looked into RoadLinkCheck. You are right, it seems to be a quite similar check, in fact, checking the length is exactly the same, just different max variable. However, checking for the connections of the _links, it seems to be doing the same thing but following different principles.
RoadLinkCheck first check if the link is long enough and if it is it flags it as is and doesn't ch

[2021-08-10 21:47] Bentleysb commented on #598
It sounds to me like your logic is an improvement on what is already in RoadLinkCheck. So I would say just go ahead and modify road link to use your logic for ramp connections. If the one sided link turn out to be a real issue then feel free to add that as well.

[2021-08-10 21:53] nelkapelmenka commented on #598
@Bentleysb sounds good, thank you for looking over this!

[2021-08-10 23:02] Bentleysb commented on #597
Hi @herriotto.
The check does not currently consider abbreviations at all, and as far as I'm aware this is the first discussion of it.
The point of the check is to make sure that the address and surrounding name tags match, which includes identifying typos and such. So I would think that it is legitimate to flag addresses and street names that are not abbreviated in the same manor.

[2021-08-10 23:03] Bentleysb commented on #593
I'm on board with this idea.

[2021-08-10 23:10] #532 closed

[2021-08-10 23:11] #494 closed

[2021-08-10 23:12] #466 closed

[2021-08-10 23:17] Bentleysb commented on #597
Actually, I take back my statement about this being the first discussion about abbreviations in AddressStreetNameCheck. I forgot about the discussion here: https://github.com/osmlab/atlas-checks/issues/409
There it has been discussed adding a standardization library to help deal with abbreviations. However, in that case it was for creating suggested fixes.

[2021-08-10 23:18] #393 closed

[2021-08-11 14:38] lucylu9161 opened #600 "RouteRelationCheck"
**Description:**
This check handles the five classes in OSMOSE 1260 (Osmose/1260):
Class 1 "The track of this route contains gaps" :
Class 2 "The stop or platform is too far from the track of this route" :
Class 3 "Non route relation member in route_master relation" :
Class 4 "Public transport relation route not in route_master relation" :
Class 5 "network, operator, ref, colour tag should be the

[2021-08-12 18:49] #592 closed

[2021-08-12 23:34] nelkapelmenka commented on #598
@Bentleysb I have also added a couple more edge cases that I have found while working on this check.

[2021-08-17 17:28] herriotto opened #609 "Add link in config file to each AtlasCheck's description on Github"
When a check has been created I manually edit the challenge in Maproulette to include a link to the specific atlas check documentation on the github for mappers to find more details on the check.

In the 'Description of your challenge' section in the map roulette challenge set up under 'Create & Manage', I would suggest we have a default line of text with a link to the Atlas check the challenge is

[2021-08-18 17:19] herriotto commented on #409
@vladlemberg May I get access to the 1000m challenge you posted above? Im running through some of these in Venezuela and Uruguay, and noticing alot of what you mention above: address points in airports, shopping centre's, Universities.. They are also making up a large % of total Atlas checks in a given market. In VE this check is 25% of all checks, while in Uruguay it is more than 50% of total che

[2021-08-19 22:58] nelkapelmenka opened #611 "[Check Improvement] UnusualLayerTagsCheck"
**Description**
The improvement of the UnusualLayerTagsCheck. Everything below is the addition to the check. Checking if the object with key:layer less or greater than 0 has incorrect tags.

**Requirements**
 - Is a Way or Node
 - Layer tag exists and is not 0

**Use Cases**
*Case 1: [Landuse feature not on ground.]*
 - If the object has a landuse tag. Landuse is used to describe "the primary use

[2021-08-19 23:04] Bentleysb commented on #611
This looks like it would be a good enhancement to [UnusualLayerTagsCheck](https://github.com/osmlab/atlas-checks/blob/dev/docs/checks/unusualLayerTagsCheck.md).

[2021-08-31 11:05] mm-ciub opened #618 "[New Check]HighwayIntersectionCheck"
**Description**
Checks cases where a highway intersects power or waterway objects.

**Requirements**
1. Check Candidate (example)
 - Is an `Edge`
 - Has `highway` tag

**Use Cases**
Example:

*Case 1: Intersects water (Vietnam)*
 - A stream shares a node with a primary road
 - https://www.openstreetmap.org/edit?editor=id&way=146071043#map=18/11.00595/106.66726

<img width="618" alt="image" src="ht

[2021-08-31 15:18] Bentleysb commented on #618
Just one thing to note, this could overlap a little with [LineCrossingWaterbodyCheck](https://github.com/osmlab/atlas-checks/blob/dev/docs/checks/lineCrossingWaterBodyCheck.md) if it checks for intersection with polygonal water features.

[2021-09-10 17:42] #504 closed

[2021-09-14 21:49] reichg opened #623 "[Bug] javadoc encoding options?"
Despite all encoding options pointing to utf-8 during `gradlew build` the build fails with the following error:

`PS B:\CodingStuff\atlas-checks> ./gradlew build`

`Task :javadoc`
`B:\CodingStuff\atlas-checks\src\main\java\org\openstreetmap\atlas\checks\validation\tag\InvalidCharacterNameTagCheck.java:34: error: unmappable character (0x9D) for encoding windows-1252
            "OSM feature with id

[2021-09-23 16:52] #611 closed

[2021-09-27 20:37] atiannicelli opened #626 "[New Check] Admin Boundary Role Check"
**Description**
Add a check that is designed to make the use of the "label" and "admin_centre" boundary relation roles more consistent. In some admin boundary relations mappers have made the node that represents the center of the relation an "admin_centre", this is incorrect as the admin_centre should be the node that represents the administrative center of the boundary, not the physical center. W

[2021-09-28 15:27] Bentleysb commented on #626
Sounds like there could be some interesting edge cases to figure out, but overall this sounds great to me.

[2021-09-28 23:04] Bentleysb opened #627 "[Bug] ConnectivityCheck Dead End Logic Does Not Account For Reverse Edges"
**Describe the bug**
After https://github.com/osmlab/atlas-checks/pull/619 there were some unexpected drops in flags. These flags consisted of "dead end" nodes connected to one main and one reverse edge. It appears the new dead end logic only works for one way roads, that do not have a reverse edge.

**To Reproduce**
Steps to reproduce the behavior:
1. Run ConnectivityCheck in atlas check 6.2.4
2.

[2021-09-29 02:57] vladlemberg commented on #627
@Bentleysb, please assign it to me. thanks!

[2021-09-30 17:06] #627 closed

[2021-10-19 13:23] atiannicelli opened #631 "[Bug] OrphanNodeCheck flags all nodes as orphans when -keepAll is set"
**Describe the bug**
When atlas files are generated with the new -keepAll flag (that keeps all nodes in the atlas file that were present in the OSM pbf) the OrphanNodeCheck seems to flag all(?) or at least most of the nodes that exist as orphans. It seems that this check was created (a long time ago) to check that the atlas output did not contain orphaned nodes as the generation phase should norma

[2021-10-25 14:52] atiannicelli opened #632 "[Feature Request] Allow s3 link to config when submitting Atlas Checks to spark"
**Is your feature request related to a problem? Please describe.**
When issuing the Sharded Atlas Checks to spark there is a way to specify a URL to the atlas checks configuration file, but only a public URL is allowed. If an S3 link is provided then the spark jobs fail.

**Describe the solution you'd like**
This request is to allow to specify an AWS S3 link (s3://blah/configuration.json) in the "

[2021-10-26 19:36] #631 closed, assigned to nobody

[2021-11-08 19:09] Bentleysb opened #636 "[Bug] FloatingEdgeCheck Airport Relations"
**Describe the bug**
FloatingEdgeCheck is supposed to ignore edges inside of airports. It currently does this by checking for overlap with areas that have an aeroway tag. This leaves out the many airports that are modeled are multipolygon relations. The check should be enhanced to test for overlap with multipolygon airports.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the check on ME

[2021-11-09 00:27] Bentleysb opened #637 "[Bug] OverlappingEdgeCheck Pedestrian Area Definition"
**Describe the bug**
The current definition of a pedestrian area in OverlappingEdgeCheck does not include the common tagging practice of highway=footway and area=yes (see the areas section [here](https://wiki.openstreetmap.org/wiki/Tag:highway%3Dfootway)). The check should be updated to include this.

**To Reproduce**
Steps to reproduce the behavior:
1. Run OverlappingEdgeCheck in MEX
2. Observe t

[2021-11-10 19:03] vladlemberg commented on #395
@ylinzhi, @sayas01, @Bentleysb, @atiannicelli

Hello everyone,
I went through cases from the latest daylight [MR challenge](https://maproulette.org/browse/challenges/17794). My opinion
its a bit risky to offer a AutoFix suggestion for that challenge. Some of the cases visually looks straightforward to connect but after manual investigation it turns out as incorrect mapping.
Some examples (bad data

[2021-11-10 19:44] atiannicelli commented on #637
@sayas01 can you assign this to @vladlemberg if no one else is looking at it.

[2021-11-12 16:42] brianjor commented on #408
I've started working on this one.

[2021-11-15 17:58] vladlemberg commented on #626
@Bentleysb, please assign this task to me.

[2021-11-23 20:36] atiannicelli opened #641 "[Bug] LineCrossingWaterBodyCheck flagging some things it should not."
**Describe the bug**
After going through the Map roulette task for this check I have a few issues that I believe would make this check much better and more accurate. Currently it is flagging many issues that are not problems.

- There are many times when a building or structure is built at the edge of a waterbody. Currently this check will flag a building that shares any nodes with a water body (i

[2021-12-03 06:11] reichg commented on #388
This check is only analyzing the location of the nodes that may be in the same spot but does not take any attributes into account. If we want a fix suggestion for removing duplicate nodes then the nodes should only be removed if they have the same attributes as the node that will be kept. The scenario where there are nodes in the same spot but with different tags could belong to a different flag t

[2021-12-03 14:52] atiannicelli commented on #388
Yes, I would think that you would only suggest to remove a node if it is exactly the same as another node (including tags). Also, I would only suggest to remove a node if that node is not referenced by any ways. For instance, if a mapper created an exact duplicate way with duplicated nodes I would not suggest to remove those node in this check, I would let the duplicate way check flag that issue.

[2021-12-08 19:44] #637 closed

[2021-12-08 19:48] #408 closed

[2021-12-08 21:10] #403 closed

[2021-12-13 07:53] reichg commented on #388
So exclude nodes that belong to ways from the autofix suggestion but not the entire check?

I was just thinking this would be a different scenario within this check to investigate the nodes, aside from the autofix suggestion.

So exclude all nodes that don't have tags? (I would think not since there may be instances where "keepAll" might be used?)

[2021-12-16 23:12] reichg commented on #388
based on discussion I think this idea should be dropped for now? Can we close this issue?

[2021-12-17 00:07] Bentleysb commented on #388
Agreed, it appears this would be generally redundant.

[2021-12-17 00:07] #388 closed

[2021-12-17 17:05] atiannicelli opened #645 "[Feature Request] Refine InvalidGeometryCheck"
Refine the Invalid Geometry Check to make it more accurate and easier to address issues.

1) Add an option to filter out ways with specific tags so that ways that we expect to intersect with themselves are not flagged.
e.g. "roller_coaster=*" should not be tagged.
https://mapwith.ai/rapid#background=Bing&datasets=fbRoads,msBuildingsid=w340689693&map=20.00/36.02122/139.71555&photo_overlay=streetsid

[2021-12-17 17:14] Bentleysb commented on #645
This all sounds good to me. For the first item we could use the universal configurable `tags.filter` in the configuration (e.g. `"tags.filter": "!roller_coaster"`).

[2021-12-20 18:12] vladlemberg commented on #641
@Bentleysb, please assign this task to me.

[2021-12-20 18:15] vladlemberg commented on #645
@Bentleysb, please assign this task to me.

[2021-12-22 14:57] #626 closed

[2021-12-22 14:57] atiannicelli commented on #626
It turns out that this check is not possible using atlas infrastructure. The issue is that there is a requirement to shard the pbf into smaller atlas files to be able to scan the entire planet quickly. We have found that many of the admin boundary relations are not available in the final atlas files that we scan for atlas checks. This check would be better as a database validation scan that can si

[2021-12-22 15:00] atiannicelli commented on #623
This is specific to building on Windows? I don't see this on Linux.

[2021-12-22 15:13] atiannicelli commented on #600
I believe this can be closed.

[2021-12-22 15:15] atiannicelli commented on #598
@nelkapelmenka are you still working on this issue?

[2021-12-22 17:22] nelkapelmenka commented on #598
@atiannicelli no, I hit a lot of obstacles with this improvement that resulted in a significantly high FP rate (I believe it was about 30%). [This branch](https://github.com/nelkapelmenka/atlas-checks/tree/BadHighwayLinkCheck) is my latest experimental version.

[2021-12-22 19:55] #600 closed

[2021-12-22 19:56] lucylu9161 commented on #600
Closed.

Thanks,
Lucy

On Wed, Dec 22, 2021 at 7:13 AM Alex Iannicelli ***@***.***>
wrote:

[2021-12-23 07:07] vladlemberg commented on #645
@atiannicelli, @Bentleysb, 1) done. for 2,3) im seeking for your suggestion. all validations for InvalidGeometryCheck occurs in GeometryValidation class, which also generating flag message. GeometryValidation works only with RawGeometry. It has to be refactored to work with Atlas objects (Area, Edge, etc..). Also GeometryValidation is used by other Checks as well.

[2021-12-23 14:01] atiannicelli commented on #645
@vladlemberg Could you use GeometryValidator to indicate that issue and then just add to the error message that is returned? In other words:

instead of
"Geometry is Not Simple: Linear geometry intersecting itself at interior points (points other than the boundary)."
make it:
"Way 985261221 failed validity check: Geometry is Not Simple: Linear geometry intersecting itself at interior points (point

[2021-12-23 14:12] atiannicelli commented on #645
I take it back. I just looked and I only see one other check using GeometryValidator. And that check doesn't use the error message - just the existence of an error message.
I personally would do as you suggested and refactor GeometryValidation to work with Atlas Objects and return an error message that is more detailed. But I'll let @Bentleysb comment.

[2022-01-14 21:56] vladlemberg opened #653 "[New Check] Separate Sidewalk Tag Check"
**Description**
A check to validate that when sidewalk=* tags are used on a highway that any separately mapped sidewalk(s) are consistent with the highway’s sidewalk tags. It is important to note here that separately mapped highways is still a proposal (https://wiki.openstreetmap.org/wiki/Proposed_features/sidewalk_schema). The use of separately mapped sidewalks is not a requirement and this check

[2022-02-16 23:55] vladlemberg commented on #597
@Bentleysb, please assign this task to me.

[2022-03-08 04:34] reichg opened #663 "[Feature Request] Add 25k limit for maproulette upload command?"
when running cloudAtlasCheckControl script to upload flags, if flag count is greater than the MR upload limit the script errors out. Is there a way we can limit the flag quantity to be uploaded in the upload command to avoid this error?

[2022-03-17 11:37] Hritik1100 opened #666 "Issue: Gradle run failed."
I am completely new to atlas checks. I ran "gradle run" but it's not working. Can you help me out here?

PS C:\WORK\atlas-checks> gradle run

FAILURE: Build failed with an exception.

* Where:
Script 'C:\WORK\atlas-checks\gradle\deployment.gradle' line: 32

* What went wrong:
Could not compile script 'C:\WORK\atlas-checks\gradle\deployment.gradle'.

  script 'C:\WORK\atlas-checks\gradle\deployment

[2022-04-18 16:31] atiannicelli opened #672 "[Bug] LevelCrossingOnRailwayCheck doesn't recognize disused level_crossing"
The LevelCrossingOnRailwayCheck doesn't recognize disused level_crossing correctly. When there is a disused railway and that crosses a highway then there should be a level_crossing node. But it is also valid to have a disused:railway=level_crossing node at that intersection.

Run the LevelCrossingOnRailwayCheck on the USA and look for places where disused railways are flagged as not having level c

[2022-04-18 19:21] atiannicelli commented on #672
Please assign this to @vladlemberg

[2022-04-29 20:00] vladlemberg commented on #672
corresponded RP to handle this issue submitted. https://github.com/osmlab/atlas/pull/787

[2022-05-09 17:46] atiannicelli opened #675 "[Bug] LevelCrossingOnRailwayCheck doesn't recognize railway=tram_level_crossing as valid tram/road intersection"
The flags intersections where a railway=tram and road intersect even if that intersection is tagged with railway=tram_level_crossing. This is a perfectly legal intersection and should not be flagged.

https://maproulette.org/challenge/25236/task/129680001
![Screen Shot 2022-05-09 at 1 45 51 PM](https://user-images.githubusercontent.com/5851115/167467316-3e778f50-cf0a-4b6d-8ab2-b1dd4151d1be.png)
![

[2022-05-10 17:50] vladlemberg commented on #675
@Bentleysb, please assign this ticket to me. Thanks!

[2022-07-05 21:10] vladlemberg commented on #436
@Bentleysb, please close this issue. I believe it's no longer in development plan.

[2022-07-05 21:11] vladlemberg commented on #653
@Bentleysb,

[2022-07-05 21:11] #653 closed

[2022-07-05 21:12] vladlemberg commented on #653
This check is already been merged to dev.

[2022-07-05 21:12] #436 closed

[2022-07-05 21:15] vladlemberg commented on #533
@sayas01, @Bentleysb, I believe this task has finished by Taylor. Please close this issue.

[2022-07-05 22:07] #533 closed

[2022-07-05 23:49] vladlemberg commented on #561
@Bentleysb, please close this issue.

[2022-07-06 16:24] #561 closed

[2022-07-07 18:18] #409 closed

[2022-07-19 18:57] #585 closed

[2022-08-02 17:59] vladlemberg opened #681 "[New Check] EnclosedBuildingNodeCheck"
**Description**
The purpose of these Atlas Checks is to identify Building Nodes and suggest to remove building tag

**Requirements**
EnclosedBuildingNodeCheck detect OSM Nodes that contain building=* tag:
Node is a Point
Node has `building=*` tag.
Node is fully geometrically enclosed in corresponded Building Footprint

**Use Cases**

*Case 1: [Location](https://www.openstreetmap.org/#map=18/40.077

[2022-08-02 18:38] vladlemberg opened #682 "[New Check] LoneBuildingNodeCheck"
**Description**
The purpose of these Atlas Checks is to identify lone Building Nodes and suggest to draw building footprint (enclosed way or relation) based on satellite imaginary or other available source.

**Requirements**
LoneBuildingNodeCheck detect OSM Nodes that contain building=* tag:
Node is a Point
Node has building=* tag.
Node is not fully geometrically enclosed in any Building Footprint

[2022-08-02 18:39] vladlemberg commented on #682
Hi @Bentleysb, please assign this task to me.

[2022-08-02 18:40] vladlemberg commented on #681
Hi @Bentleysb, please assign this task to me.

[2022-08-10 08:14] tastrax opened #683 "TAS - AddressStreetNameCheck"
**Describe the bug**
This atlas check looks to be using old data
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://maproulette.org/browse/challenges/19130
2. Click on any challenge that is a **bus stop**
3. There is no error

**Expected behavior**
The vast majority of this challenge relates to bus stops which were all fixed via other means so hundreds of the challenges are now red

[2022-08-10 08:15] tastrax commented on #683
PS - I contacted the challenge owner a couple of times but they no longer seem to be active

[2022-08-10 16:00] Bentleysb commented on #683
Hi @tastrax,
Thanks for reaching out. Atlas Checks is tool that can be used by anyone to detect possible errors in OSM data and create MapRoulette challenges for them. The team here is not responsible for the maintenance of challenges that are created using Atlas Checks. So unfortunately I can't really help with resolving this issue. If you believe the challenge has been abandoned by its admins, I

[2022-08-16 19:57] #675 closed

[2022-08-22 17:59] vladlemberg commented on #682
merged to dev. closing.

[2022-08-22 17:59] #682 closed

[2022-08-22 17:59] vladlemberg commented on #681
merged to dev. closing.

[2022-08-22 17:59] #681 closed

[2022-08-22 18:01] vladlemberg commented on #672
@Bentleysb, please close this issue.

[2022-08-22 18:02] vladlemberg commented on #645
@Bentleysb, please close this issue.

[2022-08-23 16:41] atiannicelli opened #685 "[Bug] Atlas date parsed incorrectly in Construction check causing crash."
It looks like the Construction check is not fetching the Atlas Date correctly. The data that this validation is running on has a name "osmbase_2022-08-20". I am not sure why it is parsing this to find the date.

I am seeing this all over the place:

[code]

It looks to be fetching the name of the atlas instead of the date??
I believe that the value of atlasDateString.get() is "osmbase_2022-08-20"

[2022-08-24 22:12] vladlemberg commented on #685
@Bentleysb, please assign this task to me.

[2022-09-28 16:45] vladlemberg commented on #685
merged to dev. please close.

[2022-09-28 17:21] #685 closed

[2022-11-22 10:49] Ichchhie commented on #666
![Screenshot_655](https://user-images.githubusercontent.com/33247422/203294494-b121ef58-52a9-4990-a330-4bc1f35d72b0.png)

Hi, @Bentleysb I was calling `gradlew run` and got the above issue. I am using Windows.

[2022-11-22 18:25] Bentleysb commented on #666
Hey @Ichchhie,
It looks like your environment is using an incompatible text encoding. OSM is all utf8 encoded, so that encoding is required to process OSM data through atlas checks. You could try setting your default system encoding, or using docker to get atlas checks running with utf8. Otherwise some additional parameters may need to be added to gradle.

[2022-11-23 06:14] Ichchhie commented on #666
Thanks @Bentleysb , adding it to `gradle.properties` worked. However, I am still facing some other issues, have kept the complete process log below:

Note: Some input files use or override a deprecated API.
Note: Recompile with -Xlint:deprecation for details.
Note: Some input files use unchecked or unsafe operations.
Note: Recompile with -Xlint:unchecked for details.

null \
-configFiles=file://F:

[2022-11-23 16:12] Bentleysb commented on #666
@Ichchhie, it looks like your java version is too new. This project requires jdk 11.